LithopiaNodeRed.json
[
	{
		"id":"2c510c19.115f44",
		"type":"tab",
		"label":"Lithopia-basic",
		"disabled":false,
		"info":"# First column\n**Basic info on Lithopia, Lithopians, their properties, marriages and partnerships**\n 1. **Retro LCD display:** courtesy of Peter Scargill https://tech.scargill.net/lcd-display-for-node-red/\n 2. **Openweather widget**: courtesy of FRED http://developers.sensetecnic.com/article/a-node-red-flow-to-monitor-the-weather/ to which I added text-to-speech node for weather announcement.\n 3. **Openweather icon**: generating and showing html objects IMG based on \nhttps://flows.nodered.org/flow/2f1aaf0635f9bf23207152682323240a \nTrick is to createthe payload with the tags  in a  function-node and then in the template-node just represent it with `<div ng-bind-html=\"msg.payload\"></div>`\n4. **Texfields on Lithopians, property, marriages**: all use http-node with get command to query the REST-API composer contract on http://anonette.net:3000/explorer and with switch-node and JSONATA get the requesteddata out of the  complex JSON, basic JSONARA https://docs.jsonata.org/string-functions.html\nhttps://console.bluemix.net/docs/services/IoT/GA_information_management/mapping_expression_language.html#mapping_expression \nTo test also http://try.jsonata.org/. Useful resource to learn how to work with SWITCH  - courtesy [Steve Cope from min 10.](https://www.youtube.com/watch?v=PbEoHxFOdmE&fbclid=IwAR2rvMT7lKdwk8LwGtcBF7V29AhJ-GAr07tJrVVXCyeA-ZFwSb6hy_akhzo)\n"
	},
	{
		"id":"b36b79fb.681da8",
		"type":"tab",
		"label":"Transactions",
		"disabled":false,
		"info":"# Second column\n**Info on the Sentinel2A satellite position, view on Earth from ISS, forms to blockchain transactions on how to become Lithopian, register a property or parnership**\n 1. **Tracking satellites on a map:** important to get the TLE data for the satellite nodes from  [https://www.celestrak.com/NORAD/elements/supplemental/](https://www.celestrak.com/NORAD/elements/supplemental/)\nthen use instructions from [node-red-satellites node](https://flows.nodered.org/node/node-red-contrib-satellites) and [world-map-node](https://flows.nodered.org/node/node-red-contrib-web-worldmap).\n2. **ISS real time video of Earth**:  just video embedded in node-red templat.\n 3. **Hyperleder Composer REST API post commands**: allowing participants to register on the blockchain their names, property and type of partnerships."
	},
	{
		"id":"b0c47343.b841f",
		"type":"tab",
		"label":"Markets",
		"disabled":false,
		"info":""
	},
	{
		"id":"16cbe86b.7d5128",
		"type":"tab",
		"label":"Example of ui_list",
		"disabled":true,
		"info":""
	},
	{
		"id":"34da0e1.ff218f2",
		"type":"tab",
		"label":"Dashboard Form",
		"disabled":true,
		"info":""
	},
	{
		"id":"79da451d.1847cc",
		"type":"tab",
		"label":"Flow 1",
		"disabled":true,
		"info":""
	},
	{
		"id":"1237b296.98e65d",
		"type":"twitter-credentials",
		"z":"",
		"screen_name":"Lithopia1"
	},
	{
		"id":"8949c15e.fa253",
		"type":"ui_base",
		"z":"",
		"theme":{
			"name":"theme-light",
			"lightTheme":{
				"default":"#0094CE",
				"baseColor":"#040000",
				"baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
				"edited":true,
				"reset":false
			},
			"darkTheme":{
				"default":"#097479",
				"baseColor":"#c0c0c0",
				"baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif",
				"edited":true,
				"reset":false
			},
			"customTheme":{
				"name":"Untitled Theme 1",
				"default":"#4B7930",
				"baseColor":"#4B7930",
				"baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
				"reset":false
			},
			"themeState":{
				"base-color":{
					"default":"#0094CE",
					"value":"#040000",
					"edited":true
				},
				"page-titlebar-backgroundColor":{
					"value":"#040000",
					"edited":false
				},
				"page-backgroundColor":{
					"value":"#fafafa",
					"edited":false
				},
				"page-sidebar-backgroundColor":{
					"value":"#000000",
					"edited":false
				},
				"group-textColor":{
					"value":"#500000",
					"edited":false
				},
				"group-borderColor":{
					"value":"#ffffff",
					"edited":false
				},
				"group-backgroundColor":{
					"value":"#ffffff",
					"edited":false
				},
				"widget-textColor":{
					"value":"#111111",
					"edited":false
				},
				"widget-backgroundColor":{
					"value":"#040000",
					"edited":false
				},
				"widget-borderColor":{
					"value":"#ffffff",
					"edited":false
				},
				"base-font":{
					"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
				}
			},
			"angularTheme":{
				"primary":"indigo",
				"accents":"blue",
				"warn":"red",
				"background":"grey"
			}
		},
		"site":{
			"name":"It's a new day under the starry satellites above and the moral law within the distributed ledgers...",
			"hideToolbar":"false",
			"allowSwipe":"false",
			"lockMenu":"true",
			"allowTempTheme":"true",
			"dateFormat":"DD/MM/YYYY",
			"sizes":{
				"sx":48,
				"sy":48,
				"gx":6,
				"gy":6,
				"cx":6,
				"cy":6,
				"px":4,
				"py":4
			}
		}
	},
	{
		"id":"5d0ccd43.158994",
		"type":"ui_group",
		"z":"",
		"name":"LITHIUM SENTIMENTS",
		"tab":"",
		"order":2,
		"disp":true,
		"width":"6",
		"collapse":false
	},
	{
		"id":"7dcc8114.426918",
		"type":"ui_group",
		"z":"",
		"name":"INTERACT WITH HYPERLEDGER",
		"tab":"",
		"order":1,
		"disp":false,
		"width":"8",
		"collapse":false
	},
	{
		"id":"55f8ba0a.7fcd54",
		"type":"ui_group",
		"z":"",
		"name":"basic",
		"tab":"53d478d.6778088",
		"order":1,
		"disp":false,
		"width":"6",
		"collapse":false
	},
	{
		"id":"53d478d.6778088",
		"type":"ui_tab",
		"z":"",
		"name":"Tab 1",
		"icon":"handshake-o",
		"order":1
	},
	{
		"id":"60e96444.be8e4c",
		"type":"ui_group",
		"z":"",
		"name":"transactions",
		"tab":"53d478d.6778088",
		"order":2,
		"disp":false,
		"width":"6",
		"collapse":false
	},
	{
		"id":"c4b4d589.76ec78",
		"type":"ui_group",
		"z":"",
		"name":"market",
		"tab":"53d478d.6778088",
		"order":3,
		"disp":false,
		"width":"6",
		"collapse":false
	},
	{
		"id":"92766969.968688",
		"type":"ui_group",
		"z":"",
		"name":"Group 2",
		"tab":"41ec81fb.6afe6",
		"order":2,
		"disp":true,
		"width":"6"
	},
	{
		"id":"9f110b7e.d5e048",
		"type":"ui_group",
		"z":"",
		"name":"Default Group",
		"tab":"",
		"disp":true,
		"width":"9"
	},
	{
		"id":"437124cf.dde0cc",
		"type":"ui_group",
		"z":"",
		"name":"Default",
		"tab":"",
		"disp":true,
		"width":"6"
	},
	{
		"id":"f7b63450.88cf08",
		"type":"ui_group",
		"z":"",
		"name":"T1",
		"tab":"",
		"disp":true,
		"width":"6",
		"collapse":false
	},
	{
		"id":"3000e6a0.476bda",
		"type":"ui_group",
		"z":"",
		"name":"Default",
		"tab":"",
		"disp":true,
		"width":"12",
		"collapse":false
	},
	{
		"id":"76ccb74f.5c14b8",
		"type":"ui_group",
		"z":"",
		"name":"Add an Asset",
		"tab":"",
		"order":1,
		"disp":true,
		"width":"6"
	},
	{
		"id":"70399ba8.caa894",
		"type":"ui_group",
		"z":"",
		"name":"Select an Asset to Delete",
		"tab":"",
		"order":2,
		"disp":true,
		"width":"8"
	},
	{
		"id":"a2297d4a.167c1",
		"type":"ui_group",
		"z":"",
		"name":"Inventory List",
		"tab":"",
		"order":3,
		"disp":true,
		"width":"12"
	},
	{
		"id":"6f9764e9.3c0bac",
		"type":"ui_group",
		"z":"",
		"name":"testy",
		"tab":"",
		"disp":true,
		"width":"6"
	},
	{
		"id":"f83a757c.eb42c8",
		"type":"ui_group",
		"z":"",
		"name":"testy",
		"tab":"",
		"disp":true,
		"width":"6"
	},
	{
		"id":"d4817f7f.ac4d9",
		"type":"ui_group",
		"z":"",
		"name":"Examples",
		"tab":"a24f46f4.79e948",
		"order":1,
		"disp":true,
		"width":"12"
	},
	{
		"id":"3b7286fb.6656ea",
		"type":"http request",
		"z":"2c510c19.115f44",
		"name":"getlithopians",
		"method":"GET",
		"ret":"obj",
		"url":"http://anonette.net:3000/api/Lithopian",
		"tls":"",
		"x":110,
		"y":740,
		"wires":[
			[
				"b5a434c3.6ce398"
			]
		]
	},
	{
		"id":"b5a434c3.6ce398",
		"type":"change",
		"z":"2c510c19.115f44",
		"name":"Present Lithopians:",
		"rules":[
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"payload.name",
				"tot":"jsonata"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":110,
		"y":780,
		"wires":[
			[
				"74452208.0355ac"
			]
		]
	},
	{
		"id":"c34450ab.ae98",
		"type":"ui_text",
		"z":"2c510c19.115f44",
		"group":"55f8ba0a.7fcd54",
		"order":6,
		"width":"0",
		"height":"0",
		"name":"who?",
		"label":"",
		"format":"{{msg.payload | uppercase}}",
		"layout":"col-center",
		"x":90,
		"y":860,
		"wires":[

		]
	},
	{
		"id":"7901605c.cfbb8",
		"type":"function",
		"z":"2c510c19.115f44",
		"name":"clouds",
		"func":"if (msg.payload.weather === \"Clear\") {\nmsg.payload = \"clear skies ahead! Ideal day for transactions with \" + msg.payload.clouds  + \" clouds and \" + msg.payload.humidity + \"% humidity in Lithopia.\"; \n} else {\nmsg.payload = \"Expect \" + msg.payload.detail + \" today in Lithopia. The sky is covered with \" + msg.payload.clouds  + \"% clouds and the temperature will drop to \" +  msg.payload.temp_minc + \" C. If you have to transact on the hyperledger, call a public drone!\";\n}\nreturn msg;",
		"outputs":1,
		"noerr":0,
		"x":350,
		"y":160,
		"wires":[
			[
				"1129d49d.a89a7b",
				"d668ae3.3fc715"
			]
		]
	},
	{
		"id":"1129d49d.a89a7b",
		"type":"ui_text",
		"z":"2c510c19.115f44",
		"group":"55f8ba0a.7fcd54",
		"order":2,
		"width":"6",
		"height":"3",
		"name":"Weather announcement ",
		"label":"",
		"format":"{{msg.payload}}",
		"layout":"col-center",
		"x":650,
		"y":200,
		"wires":[

		]
	},
	{
		"id":"74452208.0355ac",
		"type":"csv",
		"z":"2c510c19.115f44",
		"name":"",
		"sep":" ",
		"hdrin":"",
		"hdrout":"",
		"multi":"one",
		"ret":"\\r\\n",
		"temp":"",
		"skip":"0",
		"x":90,
		"y":820,
		"wires":[
			[
				"c34450ab.ae98"
			]
		]
	},
	{
		"id":"2346cf24.0e789",
		"type":"ui_audio",
		"z":"2c510c19.115f44",
		"name":"Voice announcement",
		"group":"55f8ba0a.7fcd54",
		"voice":"en-US",
		"always":true,
		"x":760,
		"y":160,
		"wires":[

		]
	},
	{
		"id":"d668ae3.3fc715",
		"type":"trigger",
		"z":"2c510c19.115f44",
		"op1":"",
		"op2":"",
		"op1type":"pay",
		"op2type":"pay",
		"duration":"5",
		"extend":false,
		"units":"min",
		"reset":"",
		"bytopic":"all",
		"name":"",
		"x":550,
		"y":160,
		"wires":[
			[
				"2346cf24.0e789"
			]
		]
	},
	{
		"id":"11624031.6732b",
		"type":"http request",
		"z":"2c510c19.115f44",
		"name":"getmarriages",
		"method":"GET",
		"ret":"obj",
		"url":"http://anonette.net:3000/api/LithopiaMarriage",
		"tls":"",
		"x":710,
		"y":740,
		"wires":[
			[
				"7c4c121b.03d8ac"
			]
		]
	},
	{
		"id":"ecfe912e.40844",
		"type":"csv",
		"z":"2c510c19.115f44",
		"name":"",
		"sep":",",
		"hdrin":true,
		"hdrout":false,
		"multi":"one",
		"ret":"\\r\\n",
		"temp":"",
		"skip":"0",
		"x":690,
		"y":820,
		"wires":[
			[
				"cf48b917.5acc88"
			]
		]
	},
	{
		"id":"f3866e8a.24c78",
		"type":"ui_button",
		"z":"2c510c19.115f44",
		"name":"",
		"group":"55f8ba0a.7fcd54",
		"order":5,
		"width":"0",
		"height":"0",
		"passthru":false,
		"label":"Lithopians",
		"color":"white",
		"bgcolor":"black",
		"icon":"fa-address-book",
		"payload":"true",
		"payloadType":"bool",
		"topic":"",
		"x":110,
		"y":700,
		"wires":[
			[
				"3b7286fb.6656ea"
			]
		]
	},
	{
		"id":"9a283b54.30e8e8",
		"type":"ui_button",
		"z":"2c510c19.115f44",
		"name":"",
		"group":"55f8ba0a.7fcd54",
		"order":7,
		"width":"0",
		"height":"0",
		"passthru":false,
		"label":"Lithopia properties",
		"color":"white",
		"bgcolor":"black",
		"icon":"home",
		"payload":"true",
		"payloadType":"bool",
		"topic":"",
		"x":370,
		"y":700,
		"wires":[
			[
				"52bbad98.ceb4e4"
			]
		]
	},
	{
		"id":"52bbad98.ceb4e4",
		"type":"http request",
		"z":"2c510c19.115f44",
		"name":"getproperty",
		"method":"GET",
		"ret":"obj",
		"url":"http://anonette.net:3000/api/LithopiaPlace",
		"tls":"",
		"x":370,
		"y":740,
		"wires":[
			[
				"e3e65257.075b3"
			]
		]
	},
	{
		"id":"e3e65257.075b3",
		"type":"change",
		"z":"2c510c19.115f44",
		"name":"Lithopians Property:",
		"rules":[
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"payload.(name & ' owned by ' & owner)",
				"tot":"jsonata"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":380,
		"y":780,
		"wires":[
			[
				"628b23a8.4a7ecc"
			]
		]
	},
	{
		"id":"628b23a8.4a7ecc",
		"type":"csv",
		"z":"2c510c19.115f44",
		"name":"",
		"sep":"\\t",
		"hdrin":true,
		"hdrout":"",
		"multi":"one",
		"ret":"\\r\\n",
		"temp":"",
		"skip":"0",
		"x":350,
		"y":820,
		"wires":[
			[
				"e4a1e6cb.b50d38"
			]
		]
	},
	{
		"id":"e4a1e6cb.b50d38",
		"type":"ui_text",
		"z":"2c510c19.115f44",
		"group":"55f8ba0a.7fcd54",
		"order":8,
		"width":"0",
		"height":"0",
		"name":"What?",
		"label":"",
		"format":"{{msg.payload | uppercase}}",
		"layout":"col-center",
		"x":330,
		"y":860,
		"wires":[

		]
	},
	{
		"id":"4796adf7.427f34",
		"type":"inject",
		"z":"16cbe86b.7d5128",
		"name":"Fruits",
		"topic":"",
		"payload":"[{\"title\":\"<b>Apple</b>\",\"description\":\"This is description of <font color=\\\"red\\\"><b>Apple</b></b>.\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Red_Apple.jpg/500px-Red_Apple.jpg\"},{\"title\":\"<b>Banana</b>\",\"description\":\"This is description of <font color=\\\"yellow\\\"><b>Banana</b></font>(no picture).\",\"icon\":null},{\"title\":\"<b>Orange</b>\",\"description\":\"This is description of <font color=\\\"orange\\\"><b>Orange</b></font>.\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Ambersweet_oranges.jpg/440px-Ambersweet_oranges.jpg\"},{\"title\":\"<b>Watermelon</b>\",\"description\":\"This is description of <font color=\\\"green\\\"><b>Watermelon</b></font>.\",\"icon\":\"https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Vampire_watermelon.jpg/440px-Vampire_watermelon.jpg\"}]",
		"payloadType":"json",
		"repeat":"",
		"crontab":"",
		"once":false,
		"onceDelay":0.1,
		"x":110,
		"y":100,
		"wires":[
			[

			]
		]
	},
	{
		"id":"3aacfb71.ae54c4",
		"type":"debug",
		"z":"16cbe86b.7d5128",
		"name":"",
		"active":true,
		"tosidebar":true,
		"console":false,
		"tostatus":false,
		"complete":"false",
		"x":250,
		"y":100,
		"wires":[

		]
	},
	{
		"id":"757b7811.0ca488",
		"type":"inject",
		"z":"16cbe86b.7d5128",
		"name":"WiFi",
		"topic":"",
		"payload":"[{\"title\":\"No WiFi Signal\",\"description\":\"Lost network connection\",\"icon_name\":\"signal_wifi_0_bar\"},{\"title\":\"Weak WiFi Signal\",\"description\":\"May lose network connection\",\"icon_name\":\"signal_wifi_2_bar\"},{\"title\":\"Strong WiFi Signal\",\"description\":\"Connected to network\",\"icon_name\":\"signal_wifi_4_bar\"}]",
		"payloadType":"json",
		"repeat":"",
		"crontab":"",
		"once":false,
		"onceDelay":0.1,
		"x":110,
		"y":180,
		"wires":[
			[

			]
		]
	},
	{
		"id":"2aeb7ecb.4ec932",
		"type":"ui_list",
		"z":"16cbe86b.7d5128",
		"group":"3000e6a0.476bda",
		"name":"",
		"order":3,
		"width":"4",
		"height":"7",
		"lineType":"one",
		"actionType":"check",
		"allowHTML":false,
		"x":230,
		"y":220,
		"wires":[
			[
				"6a8542b3.0cd90c"
			]
		]
	},
	{
		"id":"19558a8e.71f195",
		"type":"inject",
		"z":"16cbe86b.7d5128",
		"name":"Day of Week",
		"topic":"",
		"payload":"[{\"title\":\"Sunday\",\"isChecked\":true},{\"title\":\"Monday\"},{\"title\":\"Tuesday\"},{\"title\":\"Wednesday\"},{\"title\":\"Thursday\"},{\"title\":\"Friday\"},{\"title\":\"Saturday\",\"isChecked\":true}]",
		"payloadType":"json",
		"repeat":"",
		"crontab":"",
		"once":false,
		"onceDelay":0.1,
		"x":130,
		"y":260,
		"wires":[
			[
				"2aeb7ecb.4ec932"
			]
		]
	},
	{
		"id":"6a8542b3.0cd90c",
		"type":"debug",
		"z":"16cbe86b.7d5128",
		"name":"",
		"active":true,
		"tosidebar":true,
		"console":false,
		"tostatus":false,
		"complete":"false",
		"x":130,
		"y":300,
		"wires":[

		]
	},
	{
		"id":"d8a7b9e8.c36ee8",
		"type":"debug",
		"z":"16cbe86b.7d5128",
		"name":"",
		"active":true,
		"tosidebar":true,
		"console":false,
		"tostatus":false,
		"complete":"false",
		"x":230,
		"y":160,
		"wires":[

		]
	},
	{
		"id":"9a6d8439.dda668",
		"type":"inject",
		"z":"34da0e1.ff218f2",
		"name":"Reset Database load",
		"topic":"",
		"payload":"true",
		"payloadType":"bool",
		"repeat":"",
		"crontab":"",
		"once":true,
		"x":180,
		"y":80,
		"wires":[
			[
				"599043ce.b0c69c"
			]
		]
	},
	{
		"id":"599043ce.b0c69c",
		"type":"change",
		"z":"34da0e1.ff218f2",
		"name":"",
		"rules":[
			{
				"t":"set",
				"p":"db-loaded",
				"pt":"flow",
				"to":"false",
				"tot":"bool"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":410,
		"y":100,
		"wires":[
			[
				"ae006376.3ec33"
			]
		]
	},
	{
		"id":"4d664b1d.ea73b4",
		"type":"inject",
		"z":"34da0e1.ff218f2",
		"name":"",
		"topic":"",
		"payload":"true",
		"payloadType":"bool",
		"repeat":"",
		"crontab":"",
		"once":true,
		"x":130,
		"y":160,
		"wires":[
			[
				"ae006376.3ec33"
			]
		]
	},
	{
		"id":"ae006376.3ec33",
		"type":"switch",
		"z":"34da0e1.ff218f2",
		"name":"Load Asset Database",
		"property":"db-loaded",
		"propertyType":"flow",
		"rules":[
			{
				"t":"false"
			},
			{
				"t":"true"
			}
		],
		"checkall":"true",
		"outputs":2,
		"x":340,
		"y":160,
		"wires":[
			[

			],
			[

			]
		],
		"outputLabels":[
			"IoTP Target DB not loaded",
			"IoTP Target DB loaded"
		]
	},
	{
		"id":"ce144049.dd51c",
		"type":"debug",
		"z":"34da0e1.ff218f2",
		"name":"",
		"active":true,
		"console":"false",
		"complete":"false",
		"x":1070,
		"y":160,
		"wires":[

		]
	},
	{
		"id":"8d5f300f.88417",
		"type":"ui_form",
		"z":"34da0e1.ff218f2",
		"name":"",
		"label":"Add a new Asset",
		"group":"76ccb74f.5c14b8",
		"order":0,
		"width":0,
		"height":0,
		"options":[
			{
				"label":"Asset Name",
				"value":"AssetName",
				"type":"text",
				"required":true
			},
			{
				"label":"Asset Type",
				"value":"AssetType",
				"type":"text",
				"required":true
			},
			{
				"label":"Asset ID",
				"value":"AssetID",
				"type":"text",
				"required":true
			},
			{
				"label":"Location",
				"value":"Location",
				"type":"text",
				"required":true
			}
		],
		"formValue":{
			"AssetName":"",
			"AssetType":"",
			"AssetID":"",
			"Location":""
		},
		"payload":"",
		"topic":"",
		"x":120,
		"y":260,
		"wires":[
			[
				"2856484.99e51b8",
				"1ef11136.659fef"
			]
		]
	},
	{
		"id":"2856484.99e51b8",
		"type":"debug",
		"z":"34da0e1.ff218f2",
		"name":"",
		"active":true,
		"console":"false",
		"complete":"false",
		"x":350,
		"y":300,
		"wires":[

		]
	},
	{
		"id":"dafb82aa.68281",
		"type":"ui_dropdown",
		"z":"34da0e1.ff218f2",
		"name":"",
		"label":"Select an Asset to Delete",
		"place":"Existing Asset",
		"group":"70399ba8.caa894",
		"order":0,
		"width":0,
		"height":0,
		"passthru":true,
		"options":[
			{
				"label":"AssetName",
				"value":"Asset Name",
				"type":"str"
			}
		],
		"payload":"",
		"topic":"",
		"x":500,
		"y":560,
		"wires":[
			[
				"969aa18a.8ecda"
			]
		]
	},
	{
		"id":"a20016f5.5b3988",
		"type":"function",
		"z":"34da0e1.ff218f2",
		"name":"Load Dropdown list",
		"func":"var AssetList = global.get(\"Assets\");\nif (typeof AssetList == 'undefined') {\n    return null;\n}\nvar DropDownList = [];\n\n// Just load the list of Asset in the dropdown, not the Asset details\nfor (i=0; i < AssetList.length; i++) {\n    DropDownList.push(AssetList[i].AssetName);\n}\nmsg.options = DropDownList;\nreturn msg;",
		"outputs":1,
		"noerr":0,
		"x":230,
		"y":560,
		"wires":[
			[
				"dafb82aa.68281",
				"e0dfe530.67ba88"
			]
		]
	},
	{
		"id":"e0dfe530.67ba88",
		"type":"debug",
		"z":"34da0e1.ff218f2",
		"name":"",
		"active":true,
		"console":"false",
		"complete":"options",
		"x":460,
		"y":520,
		"wires":[

		]
	},
	{
		"id":"1ef11136.659fef",
		"type":"function",
		"z":"34da0e1.ff218f2",
		"name":"Add to Asset Array",
		"func":"var AssetList = global.get(\"Assets\") || [];\n\n// Add the new Asset / Asset Details as an json object to the array of Assets\nAssetList.push(msg.payload);\n\nglobal.set(\"Assets\",AssetList);\nreturn msg;",
		"outputs":1,
		"noerr":0,
		"x":370,
		"y":260,
		"wires":[
			[
				"ac8c2b68.530f38"
			]
		]
	},
	{
		"id":"77fee4fd.0ac78c",
		"type":"function",
		"z":"34da0e1.ff218f2",
		"name":"Remove Asset from Array",
		"func":"// If the Delete Asset button has been pressed\nif( msg.payload === true ) {\n    var AssetList = global.get(\"Assets\");\n    if (typeof Assets == 'undefined') {\n        return null;\n    }\n    var SelectedAsset = flow.get(\"SelectedAsset\");\n    var Asset2Delete = {};\n    // Dropdown will return just the \"AssetName\" in the flow.SelectedOrg variable\n    // Iterate through the list, looking for the entry to remove\n    for (i=0; i < AssetList.length; i++) {\n        if( AssetList[i].AssetName === SelectedAsset ) {\n            Asset2Delete = AssetList[i];\n            // Remove the Asset json object to the AssetList array\n            AssetList.splice(i,1);\n        }\n    }\n    // Update the global array\n    global.set(\"Assets\",AssetList);\n    \n\n    // To delete documents from the database, provide values for \n    // _id and _rev and select the remove option in the Cloudant node. \n    // You can pass these values in the msg object itself or as an object in the msg.payload.\n    // Asset2Delete will contain :\n    //   {\"_id\":\"6c8e321192522d363c7d439993529cac\",\n    //    \"_rev\":\"1-1fbb9d32a306748e63e11f023cf3c4db\",\n    //    \"AssetName\":\"JWJWJW\",\n    //    \"key\":\"value\"}\n    \n    msg.payload = Asset2Delete;\n    return msg;\n} else { \n    return null;\n}",
		"outputs":1,
		"noerr":0,
		"x":820,
		"y":400,
		"wires":[
			[
				"2476d89c.05d668",
				"ac8c2b68.530f38"
			]
		]
	},
	{
		"id":"2476d89c.05d668",
		"type":"debug",
		"z":"34da0e1.ff218f2",
		"name":"",
		"active":true,
		"console":"false",
		"complete":"false",
		"x":1070,
		"y":440,
		"wires":[

		]
	},
	{
		"id":"969aa18a.8ecda",
		"type":"change",
		"z":"34da0e1.ff218f2",
		"name":"",
		"rules":[
			{
				"t":"set",
				"p":"SelectedAsset",
				"pt":"flow",
				"to":"payload",
				"tot":"msg"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":760,
		"y":560,
		"wires":[
			[
				"9ef0f658.9abb38"
			]
		]
	},
	{
		"id":"9ef0f658.9abb38",
		"type":"ui_button",
		"z":"34da0e1.ff218f2",
		"name":"",
		"group":"70399ba8.caa894",
		"order":0,
		"width":"8",
		"height":"1",
		"passthru":false,
		"label":"Delete this Asset",
		"color":"",
		"bgcolor":"",
		"icon":"",
		"payload":"true",
		"payloadType":"bool",
		"topic":"",
		"x":990,
		"y":560,
		"wires":[
			[
				"77fee4fd.0ac78c"
			]
		]
	},
	{
		"id":"81831f14.51168",
		"type":"link in",
		"z":"34da0e1.ff218f2",
		"name":"",
		"links":[
			"ac8c2b68.530f38"
		],
		"x":95,
		"y":560,
		"wires":[
			[
				"a20016f5.5b3988"
			]
		]
	},
	{
		"id":"ac8c2b68.530f38",
		"type":"link out",
		"z":"34da0e1.ff218f2",
		"name":"",
		"links":[
			"81831f14.51168"
		],
		"x":1005,
		"y":260,
		"wires":[

		]
	},
	{
		"id":"57bd90f6.0da6c",
		"type":"debug",
		"z":"34da0e1.ff218f2",
		"name":"",
		"active":false,
		"console":"false",
		"complete":"true",
		"x":810,
		"y":120,
		"wires":[

		]
	},
	{
		"id":"c540cc7d.1cd3f",
		"type":"inject",
		"z":"34da0e1.ff218f2",
		"name":"",
		"topic":"",
		"payload":"",
		"payloadType":"date",
		"repeat":"10",
		"crontab":"",
		"once":false,
		"x":150,
		"y":660,
		"wires":[
			[
				"5aee8590.cc321c"
			]
		]
	},
	{
		"id":"5aee8590.cc321c",
		"type":"function",
		"z":"34da0e1.ff218f2",
		"name":"Build an Inventory Table",
		"func":"var AssetList = global.get(\"Assets\");\nif (typeof AssetList == 'undefined') {\n    return null;\n}\n\nmsg.template=\"<style>h4 { text-align: center; margin: 10px; }\";\nmsg.template=msg.template+\"table {    width: 500px; height:650px   margin-top: 10px; }\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 50%;}\";\nmsg.template=msg.template+\".classifier {background-color: rgb(85,150,230);text-align: center;}\";\nmsg.template=msg.template+\".title { background-color:LightGrey;}</style>\";\n\nmsg.template=msg.template+\"<table span=100%><tr><th>Assets</th><th>Type</th><th>ID</th><th>Location</th></tr>\";\n\nfor (var i = 0; i < AssetList.length; i++) {\n  msg.template = msg.template + \"<tr><td>\" + AssetList[i].AssetName + \"</td><td>\" + AssetList[i].AssetType + \"</td><td>\" + AssetList[i].AssetID + \"</td><td>\" +AssetList[i].Location + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\"\n\nreturn msg;",
		"outputs":1,
		"noerr":0,
		"x":370,
		"y":660,
		"wires":[
			[
				"6525c7f5.b25de8",
				"719a129d.3103ec"
			]
		]
	},
	{
		"id":"6525c7f5.b25de8",
		"type":"ui_template",
		"z":"34da0e1.ff218f2",
		"group":"a2297d4a.167c1",
		"name":"",
		"order":0,
		"width":"12",
		"height":"7",
		"format":"<div ng-bind-html=\"msg.template\"></div>",
		"storeOutMessages":false,
		"fwdInMessages":false,
		"templateScope":"local",
		"x":580,
		"y":640,
		"wires":[
			[

			]
		]
	},
	{
		"id":"719a129d.3103ec",
		"type":"debug",
		"z":"34da0e1.ff218f2",
		"name":"",
		"active":false,
		"tosidebar":true,
		"console":false,
		"complete":"template",
		"x":600,
		"y":680,
		"wires":[

		]
	},
	{
		"id":"8165992c.332668",
		"type":"change",
		"z":"34da0e1.ff218f2",
		"name":"Store DB in Global variable",
		"rules":[
			{
				"t":"set",
				"p":"Assets",
				"pt":"global",
				"to":"payload",
				"tot":"msg"
			},
			{
				"t":"set",
				"p":"db-loaded",
				"pt":"flow",
				"to":"true",
				"tot":"bool"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":810,
		"y":160,
		"wires":[
			[
				"ac8c2b68.530f38",
				"ce144049.dd51c"
			]
		]
	},
	{
		"id":"7c4c121b.03d8ac",
		"type":"change",
		"z":"2c510c19.115f44",
		"name":"transform into a sentence",
		"rules":[
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"payload.(name & ' for ' & period & ' period.' & ' ')",
				"tot":"jsonata"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":730,
		"y":780,
		"wires":[
			[
				"ecfe912e.40844"
			]
		]
	},
	{
		"id":"cf48b917.5acc88",
		"type":"ui_text",
		"z":"2c510c19.115f44",
		"group":"55f8ba0a.7fcd54",
		"order":10,
		"width":"0",
		"height":"0",
		"name":"With whom?",
		"label":"",
		"format":"{{msg.payload | uppercase}}",
		"layout":"col-center",
		"x":690,
		"y":860,
		"wires":[

		]
	},
	{
		"id":"a5f18125.fa06e",
		"type":"ui_button",
		"z":"2c510c19.115f44",
		"name":"",
		"group":"55f8ba0a.7fcd54",
		"order":9,
		"width":"0",
		"height":"0",
		"passthru":false,
		"label":"Marriages & partnerships?",
		"color":"white",
		"bgcolor":"black",
		"icon":"favorite",
		"payload":"true",
		"payloadType":"bool",
		"topic":"",
		"x":700,
		"y":700,
		"wires":[
			[
				"11624031.6732b"
			]
		]
	},
	{
		"id":"e0aec5a3.d01c18",
		"type":"debug",
		"z":"16cbe86b.7d5128",
		"name":"",
		"active":true,
		"tosidebar":true,
		"console":false,
		"tostatus":false,
		"complete":"false",
		"x":750,
		"y":240,
		"wires":[

		]
	},
	{
		"id":"3f17fdc9.e65e82",
		"type":"function",
		"z":"16cbe86b.7d5128",
		"name":"type of partnership",
		"func":"var path = [];\nfor (i=0; i < msg.payload.length; i++) {\n    path.push(msg.payload[i]);\n}\nmsg.options = path;\nreturn msg;\n",
		"outputs":1,
		"noerr":0,
		"x":890,
		"y":660,
		"wires":[
			[

			]
		]
	},
	{
		"id":"f8ed184e.afb2c8",
		"type":"ui_dropdown",
		"z":"16cbe86b.7d5128",
		"name":"",
		"label":"",
		"place":"",
		"group":"3000e6a0.476bda",
		"order":7,
		"width":"0",
		"height":"0",
		"passthru":true,
		"options":[
			{
				"label":"name",
				"value":"name",
				"type":"str"
			}
		],
		"payload":"",
		"topic":"type",
		"x":520,
		"y":260,
		"wires":[
			[
				"2c4f1800.57ee48"
			]
		]
	},
	{
		"id":"a6d380c2.ab398",
		"type":"debug",
		"z":"16cbe86b.7d5128",
		"name":"",
		"active":true,
		"tosidebar":true,
		"console":false,
		"tostatus":false,
		"complete":"false",
		"x":570,
		"y":500,
		"wires":[

		]
	},
	{
		"id":"755ee057.4b50f",
		"type":"ui_form",
		"z":"16cbe86b.7d5128",
		"name":"",
		"label":"Add partners to this contract",
		"group":"3000e6a0.476bda",
		"order":11,
		"width":"0",
		"height":"0",
		"options":[
			{
				"label":"Name",
				"value":"name",
				"type":"text",
				"required":true
			},
			{
				"label":"Name",
				"value":"name",
				"type":"text",
				"required":true
			}
		],
		"formValue":{
			"name":""
		},
		"payload":"",
		"submit":"submit",
		"cancel":"cancel",
		"topic":"partner2",
		"x":420,
		"y":340,
		"wires":[
			[
				"2c4f1800.57ee48"
			]
		]
	},
	{
		"id":"2c4f1800.57ee48",
		"type":"change",
		"z":"16cbe86b.7d5128",
		"name":"",
		"rules":[
			{
				"t":"set",
				"p":"responseUrl",
				"pt":"msg",
				"to":"'resource:' & responseUrl & '#' & $.payload",
				"tot":"jsonata"
			},
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"{\"newPartner\": [ msg.payload ], \"contract\": responseUrl}",
				"tot":"json"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":660,
		"y":340,
		"wires":[
			[
				"a6d380c2.ab398",
				"e10c63ff.0170b"
			]
		]
	},
	{
		"id":"4ae4fa28.9f5d14",
		"type":"change",
		"z":"16cbe86b.7d5128",
		"name":"transform into a sentence",
		"rules":[
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"payload.name",
				"tot":"jsonata"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":550,
		"y":180,
		"wires":[
			[
				"f8ed184e.afb2c8",
				"e0aec5a3.d01c18"
			]
		]
	},
	{
		"id":"b28219a8.a10c48",
		"type":"http request",
		"z":"16cbe86b.7d5128",
		"name":"addnewpartners",
		"method":"POST",
		"ret":"obj",
		"url":"http://anonette.net:3000/api/Partners/",
		"tls":"",
		"x":980,
		"y":320,
		"wires":[
			[

			]
		]
	},
	{
		"id":"bd051e8b.09fd1",
		"type":"inject",
		"z":"16cbe86b.7d5128",
		"name":"",
		"topic":"",
		"payload":"{\"newPartner\":[\"Yair\",\"Denisa\"],\"contract\":\"resource:org.lithopia.basic.LithopiaMarriage#Friendship\"}",
		"payloadType":"json",
		"repeat":"",
		"crontab":"",
		"once":false,
		"onceDelay":0.1,
		"x":950,
		"y":460,
		"wires":[
			[
				"b28219a8.a10c48"
			]
		]
	},
	{
		"id":"5c4916a8.3fe3b8",
		"type":"http request",
		"z":"16cbe86b.7d5128",
		"name":"getmarriages",
		"method":"GET",
		"ret":"obj",
		"url":"http://anonette.net:3000/api/LithopiaMarriage",
		"tls":"",
		"x":510,
		"y":120,
		"wires":[
			[
				"4ae4fa28.9f5d14"
			]
		]
	},
	{
		"id":"f207aa26.a59dc8",
		"type":"csv",
		"z":"16cbe86b.7d5128",
		"name":"",
		"sep":",",
		"hdrin":true,
		"hdrout":false,
		"multi":"one",
		"ret":"\\r\\n",
		"temp":"",
		"skip":"0",
		"x":870,
		"y":120,
		"wires":[
			[
				"d395dbad.810958"
			]
		]
	},
	{
		"id":"f7383cb2.f6761",
		"type":"change",
		"z":"16cbe86b.7d5128",
		"name":"transform into a sentence",
		"rules":[
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"payload.(name & ' for ' & period & ' period.' & ' ')",
				"tot":"jsonata"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":910,
		"y":80,
		"wires":[
			[
				"f207aa26.a59dc8"
			]
		]
	},
	{
		"id":"d395dbad.810958",
		"type":"ui_text",
		"z":"16cbe86b.7d5128",
		"group":"c4b4d589.76ec78",
		"order":4,
		"width":"0",
		"height":"0",
		"name":"",
		"label":"What type of partnership?",
		"format":"{{msg.payload | uppercase}}",
		"layout":"col-center",
		"x":910,
		"y":180,
		"wires":[

		]
	},
	{
		"id":"cde889d2.bd10c8",
		"type":"ui_button",
		"z":"16cbe86b.7d5128",
		"name":"",
		"group":"60e96444.be8e4c",
		"order":6,
		"width":"0",
		"height":"0",
		"passthru":false,
		"label":"Marriages & partnerships?",
		"color":"white",
		"bgcolor":"black",
		"icon":"favorite",
		"payload":"true",
		"payloadType":"bool",
		"topic":"",
		"x":540,
		"y":60,
		"wires":[
			[
				"5c4916a8.3fe3b8"
			]
		]
	},
	{
		"id":"e10c63ff.0170b",
		"type":"various",
		"z":"16cbe86b.7d5128",
		"name":"",
		"field":"payload",
		"fieldType":"msg",
		"actionType":"1",
		"x":580,
		"y":420,
		"wires":[
			[

			]
		]
	},
	{
		"id":"fb77abaf.2b37e8",
		"type":"inject",
		"z":"16cbe86b.7d5128",
		"name":"",
		"topic":"",
		"payload":"",
		"payloadType":"date",
		"repeat":"",
		"crontab":"",
		"once":false,
		"onceDelay":0.1,
		"x":340,
		"y":20,
		"wires":[
			[
				"cde889d2.bd10c8"
			]
		]
	},
	{
		"id":"1bdde90c.33f897",
		"type":"debug",
		"z":"79da451d.1847cc",
		"name":"",
		"active":true,
		"tosidebar":true,
		"console":false,
		"tostatus":false,
		"complete":"false",
		"x":610,
		"y":400,
		"wires":[

		]
	},
	{
		"id":"111ec5.2cf6813c",
		"type":"ui_dropdown",
		"z":"79da451d.1847cc",
		"name":"",
		"label":"",
		"place":"",
		"group":"3000e6a0.476bda",
		"order":7,
		"width":"0",
		"height":"0",
		"passthru":true,
		"options":[
			{
				"label":"name",
				"value":"",
				"type":"str"
			}
		],
		"payload":"",
		"topic":"type",
		"x":660,
		"y":260,
		"wires":[
			[
				"baa92fca.df2ea"
			]
		]
	},
	{
		"id":"88e47b26.c81d98",
		"type":"debug",
		"z":"79da451d.1847cc",
		"name":"",
		"active":true,
		"tosidebar":true,
		"console":false,
		"tostatus":false,
		"complete":"payload",
		"x":770,
		"y":440,
		"wires":[

		]
	},
	{
		"id":"d183c2b3.1c425",
		"type":"ui_form",
		"z":"79da451d.1847cc",
		"name":"",
		"label":"Add partners to this contract",
		"group":"3000e6a0.476bda",
		"order":11,
		"width":"0",
		"height":"0",
		"options":[
			{
				"label":"Name",
				"value":"name",
				"type":"text",
				"required":true
			}
		],
		"formValue":{
			"name":""
		},
		"payload":"",
		"submit":"submit",
		"cancel":"cancel",
		"topic":"partner2",
		"x":480,
		"y":340,
		"wires":[
			[
				"baa92fca.df2ea"
			]
		]
	},
	{
		"id":"9aaccb87.fc1058",
		"type":"change",
		"z":"79da451d.1847cc",
		"name":"",
		"rules":[
			{
				"t":"set",
				"p":"responseUrl",
				"pt":"msg",
				"to":"'resource:' & responseUrl & '#' & $.payload",
				"tot":"jsonata"
			},
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"{\"newPartner\": [ msg.payload ], \"contract\": $.responseUrl}",
				"tot":"jsonata"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":620,
		"y":540,
		"wires":[
			[
				"efcb15f5.47d678"
			]
		]
	},
	{
		"id":"f7e82979.9623c8",
		"type":"change",
		"z":"79da451d.1847cc",
		"name":"transform into a sentence",
		"rules":[
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"payload.name",
				"tot":"jsonata"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":690,
		"y":180,
		"wires":[
			[
				"111ec5.2cf6813c",
				"1bdde90c.33f897"
			]
		]
	},
	{
		"id":"4fadd246.825e6c",
		"type":"http request",
		"z":"79da451d.1847cc",
		"name":"getmarriages",
		"method":"GET",
		"ret":"obj",
		"url":"http://anonette.net:3000/api/LithopiaMarriage",
		"tls":"",
		"x":650,
		"y":120,
		"wires":[
			[
				"f7e82979.9623c8"
			]
		]
	},
	{
		"id":"5afd1dc6.167874",
		"type":"ui_button",
		"z":"79da451d.1847cc",
		"name":"",
		"group":"3000e6a0.476bda",
		"order":10,
		"width":"0",
		"height":"0",
		"passthru":false,
		"label":"Marriages & partnerships?",
		"color":"white",
		"bgcolor":"black",
		"icon":"favorite",
		"payload":"true",
		"payloadType":"bool",
		"topic":"",
		"x":520,
		"y":80,
		"wires":[
			[
				"4fadd246.825e6c"
			]
		]
	},
	{
		"id":"efcb15f5.47d678",
		"type":"various",
		"z":"79da451d.1847cc",
		"name":"",
		"field":"payload",
		"fieldType":"msg",
		"actionType":"1",
		"x":540,
		"y":440,
		"wires":[
			[

			]
		]
	},
	{
		"id":"b02efe0a.812a3",
		"type":"inject",
		"z":"79da451d.1847cc",
		"name":"",
		"topic":"",
		"payload":"",
		"payloadType":"date",
		"repeat":"",
		"crontab":"",
		"once":false,
		"onceDelay":0.1,
		"x":480,
		"y":20,
		"wires":[
			[
				"5afd1dc6.167874"
			]
		]
	},
	{
		"id":"baa92fca.df2ea",
		"type":"function",
		"z":"79da451d.1847cc",
		"name":"",
		"func":"msg.payload = {\n    newPartner: [],\n    contract: msg.responseUrl\n}\nreturn msg;",
		"outputs":1,
		"noerr":0,
		"x":770,
		"y":360,
		"wires":[
			[

			]
		]
	},
	{
		"id":"8cd8780e.2390e8",
		"type":"comment",
		"z":"2c510c19.115f44",
		"name":"Openweather widgets, screen and icon",
		"info":"",
		"x":430,
		"y":80,
		"wires":[

		]
	},
	{
		"id":"2a1d79dd.59ea06",
		"type":"function",
		"z":"2c510c19.115f44",
		"name":"make a weather icon",
		"func":"var iconcode = msg.payload.icon;\nvar iconurl = \"http://openweathermap.org/img/w/\" + iconcode + \".png\";\nmsg.payload = \"<img src=\" + iconurl + \">\";\nreturn msg;",
		"outputs":1,
		"noerr":0,
		"x":360,
		"y":200,
		"wires":[
			[
				"d317929c.1dcda"
			]
		]
	},
	{
		"id":"d317929c.1dcda",
		"type":"ui_template",
		"z":"2c510c19.115f44",
		"group":"55f8ba0a.7fcd54",
		"name":"Weather Icon",
		"order":4,
		"width":0,
		"height":0,
		"format":"<div ng-bind-html=\"msg.payload\"  style=\"overflow-y: hidden\" layout=\"row\" layout-align=\"center center\"></div>",
		"storeOutMessages":true,
		"fwdInMessages":true,
		"templateScope":"local",
		"x":410,
		"y":240,
		"wires":[
			[

			]
		]
	},
	{
		"id":"ecdbdb60.59f638",
		"type":"twitter out",
		"z":"16cbe86b.7d5128",
		"twitter":"1237b296.98e65d",
		"name":"Tweet",
		"x":150,
		"y":680,
		"wires":[

		]
	},
	{
		"id":"a9c709e6.556628",
		"type":"satellite",
		"z":"16cbe86b.7d5128",
		"sattype":"galileo",
		"satid":"GSAT0101 (PRN E11)",
		"name":"",
		"x":140,
		"y":740,
		"wires":[
			[

			]
		]
	},
	{
		"id":"357566e1.9db81a",
		"type":"function",
		"z":"16cbe86b.7d5128",
		"name":"two arrays",
		"func":"var path = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    path.push([msg.payload[i].position.lat, msg.payload[i].position.lon])\n}\n\nmsg.payload = {\n    //name : 'msg.payload.name',\n    //line : path\n    path.foreach();\n    \n};\n\nreturn msg;\n",
		"outputs":1,
		"noerr":3,
		"x":150,
		"y":500,
		"wires":[
			[

			]
		]
	},
	{
		"id":"5ae5d98d.550bd8",
		"type":"switch",
		"z":"16cbe86b.7d5128",
		"name":"",
		"property":"payload.length",
		"propertyType":"msg",
		"rules":[
			{
				"t":"gt",
				"v":"0",
				"vt":"str"
			},
			{
				"t":"else"
			}
		],
		"checkall":"true",
		"repair":false,
		"outputs":2,
		"x":150,
		"y":620,
		"wires":[
			[

			],
			[

			]
		]
	},
	{
		"id":"f072713f.d580a",
		"type":"function",
		"z":"16cbe86b.7d5128",
		"name":"",
		"func":"var path = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    path.push([msg.payload[i].position.lat, msg.payload[i].position.lon])\n}\n\nmsg.payload = {\n    name : 'msg.payload.name',\n    line : path\n};\n\nreturn msg;\n\n\nmsg.payload.command =  {\n    name:\"circle\",\n    lat:position.lat,\n    lon:-0.1235,\n    radius:10,\n    layer:\"drawing\",\n    iconColor:'#464646',\n    stroke:false,\n    fillOpacity:0.8,\n    clickable:true,\n};\n    return msg;\n",
		"outputs":1,
		"noerr":0,
		"x":170,
		"y":560,
		"wires":[
			[

			]
		]
	},
	{
		"id":"62650392.83979c",
		"type":"change",
		"z":"16cbe86b.7d5128",
		"name":"transform into a sentence",
		"rules":[
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"payload.(name & ' for ' & period & ' period.' & ' ')",
				"tot":"jsonata"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":110,
		"y":460,
		"wires":[
			[

			]
		]
	},
	{
		"id":"3d1df35e.d873cc",
		"type":"function",
		"z":"16cbe86b.7d5128",
		"name":"",
		"func":"for (let elem in msg.payload) {\nmsg.payload[elem] = msg.payload.description,\n`${elem} =  msg.payload.title}`\n}\nreturn msg;\npath = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    path.push([msg.payload[i].name])\n}\nvar path2 = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    path2.push([msg.payload[i].period])\n}\n\nmsg.payload = {\n    title : path,\n    description : path2,\n};\nreturn msg;\n\n\nvar newmsg = msg;\nnewmsg.options = [];\nvar title, description;\nfor (var i = 0; i < msg.payload.length; i++) {\n    title = msg.payload[i].name;\n    description = msg.payload[i].period;\n    newmsg.options[i] = {};\n    newmsg.options[i][description] = title;\n}\nreturn newmsg;\n",
		"outputs":1,
		"noerr":0,
		"x":150,
		"y":420,
		"wires":[
			[

			]
		]
	},
	{
		"id":"14ce4898.586187",
		"type":"function",
		"z":"16cbe86b.7d5128",
		"name":"type of partnership",
		"func":"var path = [];\nfor (i=0; i < msg.payload.length; i++) {\n    path.push(msg.payload[i]);\n}\nmsg.options = path;\nreturn msg;\n",
		"outputs":1,
		"noerr":0,
		"x":130,
		"y":360,
		"wires":[
			[

			]
		]
	},
	{
		"id":"630e4bd5.921c24",
		"type":"twitter in",
		"z":"b0c47343.b841f",
		"twitter":"1237b296.98e65d",
		"tags":"lithium",
		"user":"false",
		"name":"",
		"inputs":1,
		"x":110,
		"y":80,
		"wires":[
			[
				"aa9841e0.a3049",
				"b06e08f4.405e38"
			]
		]
	},
	{
		"id":"aa9841e0.a3049",
		"type":"ui_text",
		"z":"b0c47343.b841f",
		"group":"c4b4d589.76ec78",
		"order":2,
		"width":"6",
		"height":"4",
		"name":"",
		"label":"",
		"format":"{{msg.payload}}",
		"layout":"row-left",
		"x":250,
		"y":80,
		"wires":[

		]
	},
	{
		"id":"b06e08f4.405e38",
		"type":"sentiment",
		"z":"b0c47343.b841f",
		"name":"sentiments",
		"property":"payload",
		"x":170,
		"y":140,
		"wires":[
			[
				"d57c9cc8.a964b"
			]
		]
	},
	{
		"id":"12dbc38.b6c323d",
		"type":"ui_chart",
		"z":"b0c47343.b841f",
		"name":"",
		"group":"c4b4d589.76ec78",
		"order":3,
		"width":"0",
		"height":"0",
		"label":"Daily Lithium sentiments ",
		"chartType":"line",
		"legend":"false",
		"xformat":"auto",
		"interpolate":"linear",
		"nodata":"",
		"dot":true,
		"ymin":"0",
		"ymax":"10",
		"removeOlder":"7",
		"removeOlderPoints":"",
		"removeOlderUnit":"86400",
		"cutout":0,
		"useOneColor":false,
		"colors":[
			"#1f77b4",
			"#aec7e8",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle":false,
		"x":670,
		"y":160,
		"wires":[
			[

			],
			[

			]
		]
	},
	{
		"id":"d57c9cc8.a964b",
		"type":"join",
		"z":"b0c47343.b841f",
		"name":"",
		"mode":"custom",
		"build":"array",
		"property":"sentiment.score",
		"propertyType":"msg",
		"key":"topic",
		"joiner":"\\n",
		"joinerType":"str",
		"accumulate":false,
		"timeout":"10",
		"count":"",
		"reduceRight":false,
		"reduceExp":"",
		"reduceInit":"",
		"reduceInitType":"",
		"reduceFixup":"",
		"x":330,
		"y":140,
		"wires":[
			[
				"66a3db15.f23bd4"
			]
		]
	},
	{
		"id":"d5e739d3.c4a718",
		"type":"ui_gauge",
		"z":"b0c47343.b841f",
		"name":"",
		"group":"c4b4d589.76ec78",
		"order":1,
		"width":0,
		"height":0,
		"gtype":"gage",
		"title":"Buy or sell LiCoins now",
		"label":"Buy or Sell chart",
		"format":"{{value}}",
		"min":"0",
		"max":"10",
		"colors":[
			"#00b500",
			"#e6e600",
			"#ca3838"
		],
		"seg1":"Buy lithium",
		"seg2":"Sell lithium",
		"x":690,
		"y":200,
		"wires":[

		]
	},
	{
		"id":"39e8fb15.5c1f74",
		"type":"range",
		"z":"b0c47343.b841f",
		"minin":"-5",
		"maxin":"5",
		"minout":"0",
		"maxout":"10",
		"action":"scale",
		"round":false,
		"property":"payload",
		"name":"",
		"x":290,
		"y":200,
		"wires":[
			[
				"7d29f045.48d6"
			]
		]
	},
	{
		"id":"66a3db15.f23bd4",
		"type":"function",
		"z":"b0c47343.b841f",
		"name":"score",
		"func":"var scores = msg.sentiment.score;\nvar posMsg = {\n    topic: \"Positive\",\n    payload: 0\n}\nvar negMsg = {\n    topic: \"Negative\",\n    payload: 0\n}\nfor (var i=0; i < scores.length; i++) {\n    var score = scores[i];\n    if (score > 0) {\n        posMsg.payload = posMsg.payload + score\n    } else {\n        negMsg.payload = negMsg.payload + score\n    }\n}\nreturn [[posMsg, negMsg]];",
		"outputs":1,
		"noerr":0,
		"x":150,
		"y":200,
		"wires":[
			[
				"39e8fb15.5c1f74"
			]
		]
	},
	{
		"id":"7d29f045.48d6",
		"type":"function",
		"z":"b0c47343.b841f",
		"name":"Round Number",
		"func":"var value = msg.payload;\nmsg.payload = value.toFixed(2);\nreturn msg;",
		"outputs":1,
		"noerr":0,
		"x":460,
		"y":200,
		"wires":[
			[
				"12dbc38.b6c323d",
				"d5e739d3.c4a718"
			]
		]
	},
	{
		"id":"7c3bc1f9.c2e89",
		"type":"tle",
		"z":"b36b79fb.681da8",
		"satid":"Sentinel 2A",
		"tle1":"1 40697U 15028A   18345.06755620  .00000014  00000-0  21796-4 0  9998",
		"tle2":"2 40697  98.5648  57.2201 0001216  92.0237 268.1091 14.30817884181188",
		"coordsys":"latlongdeg",
		"name":"Sentinel data",
		"x":110,
		"y":180,
		"wires":[
			[
				"e6916fcf.63c67"
			]
		]
	},
	{
		"id":"fc835c67.aa844",
		"type":"inject",
		"z":"b36b79fb.681da8",
		"name":"",
		"topic":"",
		"payload":"",
		"payloadType":"date",
		"repeat":"5",
		"crontab":"",
		"once":true,
		"onceDelay":0.1,
		"x":130,
		"y":140,
		"wires":[
			[
				"7c3bc1f9.c2e89"
			]
		]
	},
	{
		"id":"fdb718fa.21d2e8",
		"type":"ui_template",
		"z":"b36b79fb.681da8",
		"group":"60e96444.be8e4c",
		"name":"Info on Sentinel 2 position",
		"order":1,
		"width":0,
		"height":0,
		"format":"<B>Where is our satellite?</B>\n<iframe style=\"width:400; height:200px;\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" src=\"http://anonette.net:1780/worldmap\"></iframe>\n",
		"storeOutMessages":true,
		"fwdInMessages":true,
		"templateScope":"local",
		"x":150,
		"y":100,
		"wires":[
			[

			]
		]
	},
	{
		"id":"e6916fcf.63c67",
		"type":"function",
		"z":"b36b79fb.681da8",
		"name":"getting satellite data",
		"func":"var sat = msg.payload;\n\nmsg.payload = {\n    name: sat.name,\n    icon: \"satellite\",\n    iconColor: \"blue\",\n    lat: sat.position.lat, \n    lon: sat.position.lon, \n}\nreturn msg;",
		"outputs":1,
		"noerr":0,
		"x":140,
		"y":220,
		"wires":[
			[
				"2997de66.39b212"
			]
		]
	},
	{
		"id":"2997de66.39b212",
		"type":"worldmap",
		"z":"b36b79fb.681da8",
		"name":"",
		"lat":"",
		"lon":"",
		"zoom":"2",
		"layer":"OSM grey",
		"cluster":"",
		"maxage":"",
		"usermenu":"hide",
		"panit":"true",
		"path":"",
		"x":110,
		"y":260,
		"wires":[

		]
	},
	{
		"id":"dab56a2b.8cc2a8",
		"type":"binance-get-all-prices",
		"z":"b0c47343.b841f",
		"name":"crypto",
		"x":270,
		"y":400,
		"wires":[
			[
				"5ac5dd98.58dad4",
				"ee9a3381.b4656",
				"ad1dd7e.1201128"
			]
		]
	},
	{
		"id":"e5f7022d.c5a88",
		"type":"inject",
		"z":"b0c47343.b841f",
		"name":"",
		"topic":"",
		"payload":"",
		"payloadType":"date",
		"repeat":"300",
		"crontab":"",
		"once":true,
		"onceDelay":0.1,
		"x":130,
		"y":400,
		"wires":[
			[
				"dab56a2b.8cc2a8"
			]
		]
	},
	{
		"id":"e592c3b5.bbd59",
		"type":"ui_chart",
		"z":"b0c47343.b841f",
		"name":"prices",
		"group":"c4b4d589.76ec78",
		"order":6,
		"width":0,
		"height":0,
		"label":"Cryptocurrencies today (ETH, LTC etc.) to BTC",
		"chartType":"line",
		"legend":"true",
		"xformat":"HH:mm:ss",
		"interpolate":"linear",
		"nodata":"",
		"dot":false,
		"ymin":"0",
		"ymax":"1",
		"removeOlder":"24",
		"removeOlderPoints":"",
		"removeOlderUnit":"3600",
		"cutout":0,
		"useOneColor":false,
		"colors":[
			"#1f77b4",
			"#aec7e8",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle":false,
		"x":610,
		"y":400,
		"wires":[
			[

			],
			[

			]
		]
	},
	{
		"id":"5ac5dd98.58dad4",
		"type":"change",
		"z":"b0c47343.b841f",
		"name":"ETHBTC",
		"rules":[
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"payload.ETHBTC",
				"tot":"msg"
			},
			{
				"t":"set",
				"p":"topic",
				"pt":"msg",
				"to":"ETHBTC",
				"tot":"str"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":440,
		"y":380,
		"wires":[
			[
				"e592c3b5.bbd59"
			]
		]
	},
	{
		"id":"ee9a3381.b4656",
		"type":"change",
		"z":"b0c47343.b841f",
		"name":"LTCBTC",
		"rules":[
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"payload.LTCBTC",
				"tot":"msg"
			},
			{
				"t":"set",
				"p":"topic",
				"pt":"msg",
				"to":"LTCBTC",
				"tot":"str"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":440,
		"y":420,
		"wires":[
			[
				"e592c3b5.bbd59"
			]
		]
	},
	{
		"id":"ad1dd7e.1201128",
		"type":"change",
		"z":"b0c47343.b841f",
		"name":"",
		"rules":[
			{
				"t":"set",
				"p":"payload",
				"pt":"msg",
				"to":"payload.BTCUSDT",
				"tot":"msg"
			},
			{
				"t":"set",
				"p":"topic",
				"pt":"msg",
				"to":"BTCUSDT",
				"tot":"str"
			}
		],
		"action":"",
		"property":"",
		"from":"",
		"to":"",
		"reg":false,
		"x":460,
		"y":460,
		"wires":[
			[
				"7f2e4737.4c8988"
			]
		]
	},
	{
		"id":"7f2e4737.4c8988",
		"type":"ui_chart",
		"z":"b0c47343.b841f",
		"name":"",
		"group":"c4b4d589.76ec78",
		"order":5,
		"width":0,
		"height":0,
		"label":"BTC to USD chart",
		"chartType":"line",
		"legend":"true",
		"xformat":"D/M",
		"interpolate":"linear",
		"nodata":"",
		"dot":true,
		"ymin":"0",
		"ymax":"5000",
		"removeOlder":1,
		"removeOlderPoints":"",
		"removeOlderUnit":"604800",
		"cutout":0,
		"useOneColor":false,
		"colors":[
			"#1f77b4",
			"#aec7e8",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle":false,
		"x":650,
		"y":460,
		"wires":[
			[

			],
			[

			]
		]
	},
	{
		"id":"63de302c.df42d",
		"type":"http request",
		"z":"b36b79fb.681da8",
		"name":"addnewlithopian",
		"method":"POST",
		"ret":"obj",
		"url":"http://anonette.net:3000/api/Lithopian",
		"tls":"",
		"x":380,
		"y":380,
		"wires":[
			[

			]
		]
	},
	{
		"id":"5e216a86.440684",
		"type":"ui_form",
		"z":"b36b79fb.681da8",
		"name":"",
		"label":"Become a Lithopian:",
		"group":"60e96444.be8e4c",
		"order":3,
		"width":"0",
		"height":"0",
		"options":[
			{
				"label":"What is your name?",
				"value":"name",
				"type":"text",
				"required":true
			}
		],
		"formValue":{
			"name":""
		},
		"payload":"",
		"submit":"submit",
		"cancel":"cancel",
		"topic":"",
		"x":130,
		"y":380,
		"wires":[
			[
				"63de302c.df42d"
			]
		]
	},
	{
		"id":"30187a1c.9e6436",
		"type":"ui_form",
		"z":"b36b79fb.681da8",
		"name":"",
		"label":"Offer a partnership or marriage:",
		"group":"60e96444.be8e4c",
		"order":4,
		"width":"0",
		"height":"0",
		"options":[
			{
				"label":"What type?",
				"value":"name",
				"type":"text",
				"required":true
			},
			{
				"label":"For how long?",
				"value":"period",
				"type":"text",
				"required":true
			}
		],
		"formValue":{
			"name":"",
			"period":""
		},
		"payload":"",
		"submit":"submit",
		"cancel":"cancel",
		"topic":"",
		"x":170,
		"y":420,
		"wires":[
			[
				"53b26d6.fec7894"
			]
		]
	},
	{
		"id":"53b26d6.fec7894",
		"type":"http request",
		"z":"b36b79fb.681da8",
		"name":"addnewpartnership",
		"method":"POST",
		"ret":"obj",
		"url":"http://anonette.net:3000/api/LithopiaMarriage",
		"tls":"",
		"x":410,
		"y":420,
		"wires":[
			[

			]
		]
	},
	{
		"id":"535f8acd.a63994",
		"type":"ui_form",
		"z":"b36b79fb.681da8",
		"name":"",
		"label":"Register a property:",
		"group":"60e96444.be8e4c",
		"order":5,
		"width":"0",
		"height":"0",
		"options":[
			{
				"label":"Location",
				"value":"name",
				"type":"text",
				"required":true
			},
			{
				"label":"Owner",
				"value":"owner's name",
				"type":"text",
				"required":true
			}
		],
		"formValue":{
			"name":"",
			"owner's name":""
		},
		"payload":"",
		"submit":"submit",
		"cancel":"cancel",
		"topic":"",
		"x":130,
		"y":460,
		"wires":[
			[
				"d32f4b7.9fb41b8"
			]
		]
	},
	{
		"id":"d32f4b7.9fb41b8",
		"type":"http request",
		"z":"b36b79fb.681da8",
		"name":"addnewokace",
		"method":"POST",
		"ret":"obj",
		"url":"http://anonette.net:3000/api/LithopiaPlace",
		"tls":"",
		"x":380,
		"y":460,
		"wires":[
			[

			]
		]
	},
	{
		"id":"c97e232e.5d66a",
		"type":"ui_template",
		"z":"2c510c19.115f44",
		"group":"55f8ba0a.7fcd54",
		"name":"Time and Temp",
		"order":1,
		"width":"0",
		"height":"0",
		"format":"<script>\n    var icon=\"T\";\n\n        \n    var colours={\n    \"blackOnOrange\": {items:[\"#222\",\"#fb7c00\"]},    \n    \"blackOnGreen\" : {items:[\"#222\",\"#66ac66\"]},\n    \"blackOnBlue\" : {items:[\"#222\",\"#8888ff\"]},\n    \"blackOnYellow\" : {items:[\"#222\",\"#bbbb44\"]},\n    \"blackOnWhite\" : {items:[\"#222\",\"#aaaaaa\"]},\n    \"blackOnPink\" : {items:[\"#222\",\"#ff8888\"]},\n    \"yellowOnRed\" : {items:[\"#ccaa22\",\"#aa2222\"]},\n    \"whiteOnCyan\" : {items:[\"#dddddd\",\"#227777\"]},\n    \"orangeOnBlack\" : {items:[\"#ff8800\",\"#000000\"]},  \n    \"limeOnBlack\" : {items:[\"#00cc55\",\"#000000\"]},  \n    }  \n    \n    var daylist = [\"Sun\", \"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\"];\n    (function(scope){ \n            scope.$watch('msg', function(msg) {\n               if (typeof(msg.type) != \"undefined\") icon=msg.type;\n    \n               if (icon==\"t\")\n                    {\n                        $(\"#DSEGWEATHER-BACK\").text(\" \");\n                        $(\"#DSEGWEATHER-ICON\").text(\" \");\n                        $(\"#DSEGTempcF\").text(\"\");\n                        $(\"#DSEGTempcB\").text(\"\");                        \n                        if (typeof(msg.payload) != \"undefined\") { $(\"#DSEGTempF\").text(msg.payload);  $(\"#DSEGTempB\").text(\"\"); }\n                    }\n                else\n                    {\n                        $(\"#DSEGTempF\").text(\"\");\n                        $(\"#DSEGTempcF\").text(\"\");\n                        $(\"#DSEGTempB\").text(\"\");\n                        $(\"#DSEGTempcB\").text(\"\");\n                        $(\"#DSEGWEATHER-BACK\").text(\"\");\n                        if (typeof(msg.payload) != \"undefined\") $(\"#DSEGWEATHER-ICON\").text(msg.payload);\n                        \n                    }\n               if (typeof(msg.colour) != \"undefined\") {\n                              $(\".Clock-Wrapper\").css('background-color', colours[msg.colour].items[1]);  $(\".lcdClock\").css('color', colours[msg.colour].items[0]); \n                              if (colours[msg.colour].items[1]==\"#000000\") $(\".background\").css('color',\"rgba(255,255,255,0.15)\"); else  $(\".background\").css('color',\"rgba(0,0,0,0.1)\");\n                        }\n            });\n    })(scope);\n\n    function genTimerStrings(tm, num){\n    \n    \tvar i;\n    \tvar ret = tm.toString(10);\n    \tvar left = ret.length;\n    \n    \tif( left < num){\n    \t\tfor(i=0; i<( num - left ); i++ ){\n    \t\t\tret = String(0) + ret;\n    \t\t}\n    \t}\n    \treturn ret;\n    }\n\n    function updateTimer(){\n    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \n    \ttm_mon = genTimerStrings(tm_mon, 2);\n    \ttm_date = genTimerStrings(tm_date, 2);\n    \ttm_hour = genTimerStrings(tm_hour, 2);\n    \ttm_min = genTimerStrings(tm_min, 2);\n    \ttm_sec = genTimerStrings(tm_sec, 2);\n    \ttm_day = daylist[tm_day];\n    \n    \tif( tm_msec > 499 ){\n    \t\tcolon = ' ';\n    \t}else{\n    \t\tcolon = ':';\n    \t}\n    \n    \tdocument.getElementById(\"DSEGClock\").innerHTML = tm_hour + colon + tm_min + \"<span style=\\\"font-size:30px;\\\">\"  + tm_sec + \"</span>\";\n    \tdocument.getElementById(\"DSEGClock-Year\").innerHTML = \"<span class=\\\"D7MI\\\">\" + tm_year + \"-\" + tm_mon + \"-\" + tm_date + ' ' + \"</span><span class=\\\"D14MI\\\">\" + tm_day  +  \".\" + \"</span>\";\n    \n    \tsetTimeout(\"updateTimer()\", 500 - date.getMilliseconds()%500 );\n    }\n\n    updateTimer();\n    \n</script>\n\n<style type=\"text/css\">\n.lcdClock {\n\tbackground-color:#fbfbfb;\n\tfont-size:100%;\n\tpadding-left:10px;\n\tpadding-right:10px;\n\tpadding-bottom:10px;\n\tmax-width:300px;\n\tline-height:160%;\n\tcolor:#222;\n\tfont-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;\n}\n\n@font-face {\n  font-family: \"D7MI\";\n  src: url(\"/myfonts/DSEG7Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D14MI\";\n  src: url(\"/myfonts/DSEG14Modern-Italic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"D7MBI\";\n  src: url(\"/myfonts/DSEG7Modern-BoldItalic.woff\") format('woff');\n}\n\n@font-face {\n  font-family: \"DWEATHER\";\n  src: url(\"/myfonts/DSEGWeather.woff\") format('woff');\n}\n\n.Weather-Background{\n\tz-index:50;\n\tposition:absolute;\n\ttop:24px;\n\tleft:190px;\n\tfont-size:50px;\n}\n\n.Weather-Front{\n\tz-index:51;\n\tposition:absolute;\n\ttop:24px;\n\tleft:190px;\n\tfont-size:50px;\n}\n\n.D7MI {\nfont-family: \"D7MI\";\n}\n\n.D7MBI {\nfont-family: \"D7MBI\";\n}\n\n.D14MI {\nfont-family: \"D14MI\";\n}\n\n.DWEATHER {\nfont-family: \"DWEATHER\";\nfont-size:50px;\nheight:68px;\n}\n\n.Clock-Wrapper{\n\tposition:relative;\n\tborder:6px solid #000;\n\tborder-radius:9px;\n\theight:68px;\n\twidth:280px;\n\tbackground-color:#fb7c00;\n\tbackground-color:#66ac66;\n\tbox-shadow: 4px 4px 28px 0px rgba(0,0,0,0.3) inset; \n}\n\n.Clock-Time-Background{\n\tz-index:50;\n}\n\n.Clock-Time-Front{\n\tz-index:51;\n}\n\n.Clock-Time-Background,.Clock-Time-Front {\n   \tposition:absolute;\n\ttop:38px;\n\tleft:5px; \n\tfont-size:42px;\n}\n\n.background { color:rgba(0,0,0,0.1); }\n\n.Clock-Year-Background{\n\tz-index:50;\n\tfont-size:18px;\n}\n\n.Clock-Year-Front{\n\tz-index:51;\n}\n\n.Clock-Year-Background,.Clock-Year-Front {\n   \tposition:absolute;\n\ttop:2px;\n\tleft:5px; \n\tfont-size:18px;\n}\n\n.temp { z-index:51; }\n.tempBack { z-index:50; color:rgba(0,0,0,0.1); }\n.temp,.tempBack {\n   \tposition:absolute;\n\ttop:28px;\n\tleft:190px; \n\tfont-size:50px;\n}\n\n.tempc { z-index:51; }\n.tempcBack { z-index:50;  }\n.tempc,.tempcBack {\n   \tposition:absolute;\n\ttop:36px;\n\tleft:190px; \n\tfont-size:50px;\n}\n\n#DSEG7_OUTPUT{\n\tfont-family: \"D7MI\";\n}\n\n#DSEG14_OUTPUT{\n\tfont-family: \"D14MI\";\n}\n\n#DSEG14_OUTPUT, #DSEG7_OUTPUT{\n\tfont-size:18px;\n\tmargin-top:2px;\n\tmargin-bottom:10px;\n}\n\n</style>\n\n\n<div class=\"Clock-Wrapper center lcdClock\">\n\t<span class=\"Clock-Time-Background background  D7MBI\"><span style=\"font-size:30px;\"></span></span>\n\t<span id=\"DSEGClock\" class=\"Clock-Time-Front D7MBI\"></span>\n\t<span class=\"Clock-Year-Background background\"><span class=\"D7MI\"></span><span class=\"D14MI\"> ~~~</span></span>\n\t<span id=\"DSEGClock-Year\" class=\"Clock-Year-Front\"></span>\n\t\n\t<span id=\"DSEGTempF\" class=\"temp D7MBI\"></span>\n\t<span id=\"DSEGTempB\" class=\"tempBack background D7MBI\"></span>\t\n\t<span id=\"DSEGTempcF\" class=\"tempc D7MI\"></span>\n\t<span id=\"DSEGTempcB\" class=\"tempcBack background D7MI\"></span>\n\t\n\t\n\t<span id=\"DSEGWEATHER-BACK\" class=\"Weather-Background background DWEATHER\"></span>\n\t<span id=\"DSEGWEATHER-ICON\" class=\"Weather-Front DWEATHER\"></span>\n\t\t\n</div>\n",
		"storeOutMessages":true,
		"fwdInMessages":true,
		"templateScope":"local",
		"x":460,
		"y":280,
		"wires":[
			[

			]
		]
	},
	{
		"id":"54a99322.75a3bc",
		"type":"inject",
		"z":"2c510c19.115f44",
		"name":"green",
		"topic":"",
		"payload":"blackOnGreen",
		"payloadType":"str",
		"repeat":"",
		"crontab":"",
		"once":false,
		"onceDelay":"",
		"x":190,
		"y":280,
		"wires":[
			[
				"e02db645.381248"
			]
		]
	},
	{
		"id":"96086418.292d58",
		"type":"inject",
		"z":"2c510c19.115f44",
		"name":"orange",
		"topic":"",
		"payload":"blackOnOrange",
		"payloadType":"str",
		"repeat":"",
		"crontab":"",
		"once":false,
		"x":190,
		"y":320,
		"wires":[
			[
				"e02db645.381248"
			]
		]
	},
	{
		"id":"e02db645.381248",
		"type":"function",
		"z":"2c510c19.115f44",
		"name":"",
		"func":"msg.colour=msg.payload;\nmsg.payload=undefined;\nreturn msg;",
		"outputs":1,
		"noerr":0,
		"x":390,
		"y":340,
		"wires":[
			[
				"c97e232e.5d66a"
			]
		]
	},
	{
		"id":"d51dfb46.9b0678",
		"type":"inject",
		"z":"2c510c19.115f44",
		"name":"blue",
		"topic":"",
		"payload":"blackOnBlue",
		"payloadType":"str",
		"repeat":"",
		"crontab":"",
		"once":false,
		"x":190,
		"y":360,
		"wires":[
			[
				"e02db645.381248"
			]
		]
	},
	{
		"id":"8acaf180.6a82b",
		"type":"inject",
		"z":"2c510c19.115f44",
		"name":"yellow",
		"topic":"",
		"payload":"blackOnYellow",
		"payloadType":"str",
		"repeat":"",
		"crontab":"",
		"once":false,
		"onceDelay":"",
		"x":190,
		"y":400,
		"wires":[
			[
				"e02db645.381248"
			]
		]
	},
	{
		"id":"d333f319.f679e",
		"type":"inject",
		"z":"2c510c19.115f44",
		"name":"white",
		"topic":"",
		"payload":"blackOnWhite",
		"payloadType":"str",
		"repeat":"",
		"crontab":"",
		"once":false,
		"x":190,
		"y":440,
		"wires":[
			[
				"e02db645.381248"
			]
		]
	},
	{
		"id":"eff1cb6c.21d9b8",
		"type":"inject",
		"z":"2c510c19.115f44",
		"name":"pink",
		"topic":"",
		"payload":"blackOnPink",
		"payloadType":"str",
		"repeat":"",
		"crontab":"",
		"once":false,
		"x":190,
		"y":480,
		"wires":[
			[
				"e02db645.381248"
			]
		]
	},
	{
		"id":"eef5e7a4.808d28",
		"type":"inject",
		"z":"2c510c19.115f44",
		"name":"red and light text",
		"topic":"",
		"payload":"yellowOnRed",
		"payloadType":"str",
		"repeat":"",
		"crontab":"",
		"once":false,
		"x":220,
		"y":520,
		"wires":[
			[
				"e02db645.381248"
			]
		]
	},
	{
		"id":"5d9e68b9.d6eb28",
		"type":"inject",
		"z":"2c510c19.115f44",
		"name":"cyan and white",
		"topic":"",
		"payload":"whiteOnCyan",
		"payloadType":"str",
		"repeat":"",
		"crontab":"",
		"once":false,
		"x":220,
		"y":560,
		"wires":[
			[
				"e02db645.381248"
			]
		]
	},
	{
		"id":"3c36311f.7f990e",
		"type":"inject",
		"z":"2c510c19.115f44",
		"name":"lime on black",
		"topic":"",
		"payload":"limeOnBlack",
		"payloadType":"str",
		"repeat":"",
		"crontab":"",
		"once":false,
		"x":210,
		"y":245,
		"wires":[
			[
				"e02db645.381248"
			]
		]
	},
	{
		"id":"a1708ee3.0b19",
		"type":"function",
		"z":"2c510c19.115f44",
		"name":"clouds",
		"func":"msg.payload = msg.payload.temp_minc + 'c';\nreturn msg;",
		"outputs":1,
		"noerr":0,
		"x":170,
		"y":200,
		"wires":[
			[
				"c97e232e.5d66a"
			]
		]
	},
	{
		"id":"85a5742f.d3bfe8",
		"type":"openweathermap in",
		"z":"2c510c19.115f44",
		"name":"Lithopia weather",
		"wtype":"current",
		"lon":"",
		"lat":"",
		"city":"Prague",
		"country":"Czech Republic",
		"language":"en",
		"x":120,
		"y":160,
		"wires":[
			[
				"a1708ee3.0b19",
				"2a1d79dd.59ea06",
				"7901605c.cfbb8"
			]
		]
	},
	{
		"id":"a1a0eb00.a02fe8",
		"type":"comment",
		"z":"2c510c19.115f44",
		"name":"Hyperledger Composer REST-API queries",
		"info":"",
		"x":400,
		"y":640,
		"wires":[

		]
	},
	{
		"id":"4c75a272.ce84ac",
		"type":"ui_template",
		"z":"b36b79fb.681da8",
		"group":"60e96444.be8e4c",
		"name":"ISS live feed on Earth",
		"order":2,
		"width":0,
		"height":0,
		"format":"<iframe src=\"http://www.ustream.tv/embed/9408562?html5ui\" style=\"border: 0; top: 0; left: 0; width: \"200\"; height: \"100%\"150;\" allowfullscreen scrolling=\"no\" allow=\"autoplay; encrypted-media\"></iframe>\n",
		"storeOutMessages":true,
		"fwdInMessages":false,
		"templateScope":"local",
		"x":140,
		"y":300,
		"wires":[
			[

			]
		]
	},
	{
		"id":"7a780829.0c7a18",
		"type":"comment",
		"z":"b36b79fb.681da8",
		"name":"Smart contracts in Lithopia",
		"info":"",
		"x":470,
		"y":340,
		"wires":[

		]
	},
	{
		"id":"801e7516.ca1878",
		"type":"comment",
		"z":"b36b79fb.681da8",
		"name":"Satellite info for Lithopians",
		"info":"",
		"x":450,
		"y":60,
		"wires":[

		]
	}
]
