lithopiaFeb22.json
[{"id":"2c510c19.115f44","type":"tab","label":"Weather&Data","disabled":false,"info":"# First column\n**Basic info on Lithopia**\n 1. **Retro LCD display:** courtesy of Peter Scargill https://tech.scargill.net/lcd-display-for-node-red/\n 2. **Openweather widget**: courtesy of FRED http://developers.sensetecnic.com/article/a-node-red-flow-to-monitor-the-weather/ to which I added text-to-speech node for weather announcement.\n 3. **Openweather icon**: generating and showing html objects IMG based on \nhttps://flows.nodered.org/flow/2f1aaf0635f9bf23207152682323240a \nTrick is to createthe payload with the tags  in a  function-node and then in the template-node just represent it with `<div ng-bind-html=\"msg.payload\"></div>`"},{"id":"f61baa36.7abee8","type":"tab","label":"Whois","disabled":false,"info":"**Basic info on Lithopians, their properties, marriages and partnerships**\n1. **Texfields on Lithopians, property, marriages**: all use http-node with get command to query the REST-API composer contract on http://anonette.net:3000/explorer and with switch-node and JSONATA get the requesteddata out of the  complex JSON, basic JSONARA https://docs.jsonata.org/string-functions.html\nhttps://console.bluemix.net/docs/services/IoT/GA_information_management/mapping_expression_language.html#mapping_expression \nTo test also http://try.jsonata.org/. Useful resource to learn how to work with SWITCH  - courtesy [Steve Cope from min 10.](https://www.youtube.com/watch?v=PbEoHxFOdmE&fbclid=IwAR2rvMT7lKdwk8LwGtcBF7V29AhJ-GAr07tJrVVXCyeA-ZFwSb6hy_akhzo)\nImportant source to learn how to use Angular/Template node https://it.knightnet.org.uk/kb/nr-qa/dashboard-template-examples/"},{"id":"b36b79fb.681da8","type":"tab","label":"Transactions","disabled":false,"info":"# Second column\n**Info on the Sentinel2A satellite position, view on Earth from ISS, forms to blockchain transactions on how to become Lithopian, register a property or parnership**\n 1. **Tracking satellites on a map:** important to get the TLE data for the satellite nodes from  [https://www.celestrak.com/NORAD/elements/supplemental/](https://www.celestrak.com/NORAD/elements/supplemental/)\nthen use instructions from [node-red-satellites node](https://flows.nodered.org/node/node-red-contrib-satellites) and [world-map-node](https://flows.nodered.org/node/node-red-contrib-web-worldmap).\n2. **ISS real time video of Earth**:  just video embedded in node-red templat.\n 3. **Hyperleder Composer REST API post commands**: allowing participants to register on the blockchain their names, property and type of partnerships."},{"id":"b0c47343.b841f","type":"tab","label":"Markets","disabled":false,"info":"### Markets\n**Sentiment analysis of Twitter feeds on Lithium and cryptocurrency exchange for Lithopians** \n 1. **Twitter sentiment analysis:** Combines examples from [Jelastic](https://jelastic.com/blog/node-red-cloud-hosting-for-tweeter-feed-analysis/) and [IBM](https://www.ibm.com/blogs/bluemix/2015/11/analyze-tweets-in-30-minutes/). Excellent source is also [Luc Bors blog](http://lucbors.blogspot.com/2018/09/how-to-use-node-red-to-interact-with.html).  For the node-red-gauge UI telling when to buy or sell LiCoins based on the sentimens, courtesy of [Tim Minter](https://flows.nodered.org/flow/3fa024a69e24d94b4985934ce931aa7d)\n \n 2. **Cryptocurrency charts**: Followed Node RED [ programming guide](http://noderedguide.com/cryptocurrencies-and-node-red/) on Binance node, needs improvement."},{"id":"1237b296.98e65d","type":"twitter-credentials","z":"","screen_name":"Lithopia1"},{"id":"8949c15e.fa253","type":"ui_base","z":"","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#040000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#df1c24","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#616e61","baseFont":"Gill Sans,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#616e61","edited":true},"page-titlebar-backgroundColor":{"value":"#000000","edited":true},"page-backgroundColor":{"value":"#616e61","edited":true},"page-sidebar-backgroundColor":{"value":"#616e61","edited":true},"group-textColor":{"value":"#ffffff","edited":true},"group-borderColor":{"value":"#000000","edited":true},"group-backgroundColor":{"value":"#df1c24","edited":true},"widget-textColor":{"value":"#ffffff","edited":true},"widget-backgroundColor":{"value":"#616e61","edited":true},"widget-borderColor":{"value":"#000000","edited":true},"base-font":{"value":"Gill Sans,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"It's a new day under the starry satellites above and the moral law within the distributed ledgers...","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":8,"gy":8,"cx":8,"cy":8,"px":6,"py":6}}},{"id":"55f8ba0a.7fcd54","type":"ui_group","z":"","name":"WHO'S WHO","tab":"53d478d.6778088","order":2,"disp":true,"width":"8","collapse":false},{"id":"53d478d.6778088","type":"ui_tab","z":"","name":"Tab 1","icon":"home","order":1},{"id":"60e96444.be8e4c","type":"ui_group","z":"","name":"BLOCKCHAIN TRANSACTIONS","tab":"53d478d.6778088","order":3,"disp":true,"width":"8","collapse":false},{"id":"c4b4d589.76ec78","type":"ui_group","z":"","name":"MARKETS & SENTIMENTS","tab":"53d478d.6778088","order":4,"disp":true,"width":"8","collapse":false},{"id":"695e648e.ad075c","type":"ui_group","z":"","name":"DATE, TIME & WEATHER","tab":"53d478d.6778088","order":1,"disp":true,"width":"8","collapse":false},{"id":"7901605c.cfbb8","type":"function","z":"2c510c19.115f44","name":"clouds","func":"if (msg.payload.weather === \"Clear\") {\nmsg.payload = \"Clear skies ahead! Ideal day for transactions with \" + msg.payload.clouds  + \" clouds and \" + msg.payload.humidity + \"% humidity in Lithopia.\"; \n} else {\nmsg.payload = \"Expect \" + msg.payload.detail + \" today in Lithopia. The sky is covered with \" + msg.payload.clouds  + \"% clouds and the temperature will drop to \" +  msg.payload.temp_minc + \" C. If you have to transact on the hyperledger, call a public drone!\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["1129d49d.a89a7b"]]},{"id":"1129d49d.a89a7b","type":"ui_text","z":"2c510c19.115f44","group":"695e648e.ad075c","order":2,"width":"8","height":"3","name":"Weather announcement ","label":"","format":"{{msg.payload || titlecase}}","layout":"col-center","x":630,"y":120,"wires":[]},{"id":"2346cf24.0e789","type":"ui_audio","z":"2c510c19.115f44","name":"Voice announcement","group":"695e648e.ad075c","voice":"en-US","always":true,"x":900,"y":140,"wires":[]},{"id":"d668ae3.3fc715","type":"trigger","z":"2c510c19.115f44","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":870,"y":100,"wires":[[]]},{"id":"8cd8780e.2390e8","type":"comment","z":"2c510c19.115f44","name":"Openweather widgets, screen and icon","info":"","x":370,"y":40,"wires":[]},{"id":"2a1d79dd.59ea06","type":"function","z":"2c510c19.115f44","name":"make a weather icon","func":"var iconcode = msg.payload.icon;\nvar iconurl = \"http://openweathermap.org/img/w/\" + iconcode + \".png\";\nmsg.payload = \"<img src=\" + iconurl + \">\";\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["d317929c.1dcda"]]},{"id":"d317929c.1dcda","type":"ui_template","z":"2c510c19.115f44","group":"695e648e.ad075c","name":"Weather Icon","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"  style=\"overflow-y: hidden\" layout=\"row\" layout-align=\"center center\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":160,"wires":[[]]},{"id":"630e4bd5.921c24","type":"twitter in","z":"b0c47343.b841f","twitter":"1237b296.98e65d","tags":"lithium","user":"false","name":"","inputs":1,"x":110,"y":80,"wires":[["aa9841e0.a3049","b06e08f4.405e38"]]},{"id":"aa9841e0.a3049","type":"ui_text","z":"b0c47343.b841f","group":"c4b4d589.76ec78","order":2,"width":"8","height":"4","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":250,"y":80,"wires":[]},{"id":"b06e08f4.405e38","type":"sentiment","z":"b0c47343.b841f","name":"sentiments","property":"payload","x":170,"y":140,"wires":[["d57c9cc8.a964b"]]},{"id":"12dbc38.b6c323d","type":"ui_chart","z":"b0c47343.b841f","name":"","group":"c4b4d589.76ec78","order":3,"width":"0","height":"0","label":"Daily Lithium sentiments ","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":true,"ymin":"-30","ymax":"30","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":410,"y":260,"wires":[[],[]]},{"id":"d57c9cc8.a964b","type":"join","z":"b0c47343.b841f","name":"","mode":"custom","build":"array","property":"sentiment.score","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"10","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":330,"y":140,"wires":[["66a3db15.f23bd4"]]},{"id":"d5e739d3.c4a718","type":"ui_gauge","z":"b0c47343.b841f","name":"","group":"c4b4d589.76ec78","order":1,"width":0,"height":0,"gtype":"gage","title":"Buy or sell LiCoins now","label":"Buy or Sell chart","format":"{{value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"Buy lithium","seg2":"Sell lithium","x":410,"y":320,"wires":[]},{"id":"39e8fb15.5c1f74","type":"range","z":"b0c47343.b841f","minin":"-5","maxin":"5","minout":"0","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":290,"y":200,"wires":[["7d29f045.48d6"]]},{"id":"66a3db15.f23bd4","type":"function","z":"b0c47343.b841f","name":"score","func":"var scores = msg.sentiment.score;\nvar posMsg = {\n    topic: \"Positive\",\n    payload: 0\n}\nvar negMsg = {\n    topic: \"Negative\",\n    payload: 0\n}\nfor (var i=0; i < scores.length; i++) {\n    var score = scores[i];\n    if (score > 0) {\n        posMsg.payload = posMsg.payload + score\n    } else {\n        negMsg.payload = negMsg.payload + score\n    }\n}\nreturn [[posMsg, negMsg]];","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["39e8fb15.5c1f74"]]},{"id":"7d29f045.48d6","type":"function","z":"b0c47343.b841f","name":"Round Number","func":"var value = msg.payload;\nmsg.payload = value.toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":300,"wires":[["12dbc38.b6c323d","d5e739d3.c4a718"]]},{"id":"7c3bc1f9.c2e89","type":"tle","z":"b36b79fb.681da8","satid":"Sentinel 2A","tle1":"1 40697U 15028A   18345.06755620  .00000014  00000-0  21796-4 0  9998","tle2":"2 40697  98.5648  57.2201 0001216  92.0237 268.1091 14.30817884181188","coordsys":"latlongdeg","name":"Sentinel data","x":110,"y":180,"wires":[["e6916fcf.63c67"]]},{"id":"fc835c67.aa844","type":"inject","z":"b36b79fb.681da8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":140,"wires":[["7c3bc1f9.c2e89"]]},{"id":"fdb718fa.21d2e8","type":"ui_template","z":"b36b79fb.681da8","group":"60e96444.be8e4c","name":"Info on Sentinel 2 position","order":1,"width":0,"height":0,"format":"<iframe style=\"width:400; height:200px;\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" src=\"http://anonette.net:1780/worldmap\"></iframe>\nWhere is our satellite?\n<p>Prepare your offers & wait!</p>\n<p>Read the manual!</p>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":150,"y":100,"wires":[[]]},{"id":"e6916fcf.63c67","type":"function","z":"b36b79fb.681da8","name":"getting satellite data","func":"var sat = msg.payload;\n\nmsg.payload = {\n    name: sat.name,\n    icon: \"satellite\",\n    iconColor: \"blue\",\n    lat: sat.position.lat, \n    lon: sat.position.lon, \n}\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":220,"wires":[["2997de66.39b212"]]},{"id":"2997de66.39b212","type":"worldmap","z":"b36b79fb.681da8","name":"","lat":"","lon":"","zoom":"2","layer":"OSM grey","cluster":"","maxage":"","usermenu":"hide","panit":"true","path":"","x":110,"y":260,"wires":[]},{"id":"dab56a2b.8cc2a8","type":"binance-get-all-prices","z":"b0c47343.b841f","name":"crypto","x":270,"y":460,"wires":[["5ac5dd98.58dad4","ee9a3381.b4656","ad1dd7e.1201128"]]},{"id":"e5f7022d.c5a88","type":"inject","z":"b0c47343.b841f","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":460,"wires":[["dab56a2b.8cc2a8"]]},{"id":"e592c3b5.bbd59","type":"ui_chart","z":"b0c47343.b841f","name":"prices","group":"c4b4d589.76ec78","order":6,"width":0,"height":0,"label":"Cryptocurrencies today (ETH, LTC etc.) to BTC","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"0.05","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":460,"wires":[[],[]]},{"id":"5ac5dd98.58dad4","type":"change","z":"b0c47343.b841f","name":"ETHBTC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.ETHBTC","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"ETHBTC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":440,"wires":[["e592c3b5.bbd59"]]},{"id":"ee9a3381.b4656","type":"change","z":"b0c47343.b841f","name":"LTCBTC","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.LTCBTC","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"LTCBTC","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":480,"wires":[["e592c3b5.bbd59"]]},{"id":"ad1dd7e.1201128","type":"change","z":"b0c47343.b841f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.BTCUSDT","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"BTCUSDT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":520,"wires":[["7f2e4737.4c8988"]]},{"id":"7f2e4737.4c8988","type":"ui_chart","z":"b0c47343.b841f","name":"","group":"c4b4d589.76ec78","order":5,"width":0,"height":0,"label":"BTC to USD chart","chartType":"line","legend":"true","xformat":"Y-M-D","interpolate":"linear","nodata":"","dot":true,"ymin":"3000","ymax":"4000","removeOlder":"100","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":520,"wires":[[],[]]},{"id":"63de302c.df42d","type":"http request","z":"b36b79fb.681da8","name":"addnewlithopian","method":"POST","ret":"obj","url":"http://anonette.net:3000/api/Lithopian","tls":"","x":380,"y":380,"wires":[[]]},{"id":"5e216a86.440684","type":"ui_form","z":"b36b79fb.681da8","name":"","label":"Become a Lithopian:","group":"60e96444.be8e4c","order":3,"width":"0","height":"0","options":[{"label":"What is your name?","value":"name","type":"text","required":true}],"formValue":{"name":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":380,"wires":[["63de302c.df42d"]]},{"id":"30187a1c.9e6436","type":"ui_form","z":"b36b79fb.681da8","name":"","label":"Offer a partnership or marriage:","group":"60e96444.be8e4c","order":4,"width":"0","height":"0","options":[{"label":"What type?","value":"name","type":"text","required":true},{"label":"For how long?","value":"period","type":"text","required":true}],"formValue":{"name":"","period":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":420,"wires":[["53b26d6.fec7894"]]},{"id":"53b26d6.fec7894","type":"http request","z":"b36b79fb.681da8","name":"addnewpartnership","method":"POST","ret":"obj","url":"http://anonette.net:3000/api/LithopiaMarriage","tls":"","x":410,"y":420,"wires":[[]]},{"id":"535f8acd.a63994","type":"ui_form","z":"b36b79fb.681da8","name":"","label":"Register a property:","group":"60e96444.be8e4c","order":5,"width":"0","height":"0","options":[{"label":"Location /name","value":"name","type":"text","required":true},{"label":"Owner","value":"owner","type":"text","required":true}],"formValue":{"name":"","owner":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":460,"wires":[["d32f4b7.9fb41b8"]]},{"id":"d32f4b7.9fb41b8","type":"http request","z":"b36b79fb.681da8","name":"addnewplace","method":"POST","ret":"obj","url":"http://anonette.net:3000/api/LithopiaPlace","tls":"","x":370,"y":460,"wires":[[]]},{"id":"c97e232e.5d66a","type":"ui_template","z":"2c510c19.115f44","group":"695e648e.ad075c","name":"Time and Temp","order":1,"width":"0","height":"0","format":"<script>\n    var icon=\"T\";\n\n        \n    var colours={\n    \"blackOnOrange\": {items:[\"#222\",\"#fb7c00\"]},    \n    \"blackOnGreen\" : {items:[\"#222\",\"#66ac66\"]},\n    \"blackOnBlue\" : {items:[\"#222\",\"#8888ff\"]},\n    \"blackOnYellow\" : {items:[\"#222\",\"#bbbb44\"]},\n    \"blackOnWhite\" : {items:[\"#222\",\"#aaaaaa\"]},\n    \"blackOnPink\" : {items:[\"#222\",\"#ff8888\"]},\n    \"yellowOnRed\" : {items:[\"#ccaa22\",\"#aa2222\"]},\n    \"whiteOnCyan\" : {items:[\"#dddddd\",\"#227777\"]},\n    \"orangeOnBlack\" : {items:[\"#ff8800\",\"#000000\"]},  \n    \"limeOnBlack\" : {items:[\"#00cc55\",\"#000000\"]},  \n    }  \n    \n    var daylist = [\"Sun\", \"Mon\", \"Tue\", \"Wed\", \"Thu\", \"Fri\", \"Sat\"];\n    (function(scope){ \n            scope.$watch('msg', function(msg) {\n               if (typeof(msg.type) != \"undefined\") icon=msg.type;\n    \n               if (icon==\"t\")\n                    {\n                        $(\"#DSEGWEATHER-BACK\").text(\" \");\n                        $(\"#DSEGWEATHER-ICON\").text(\" \");\n                        $(\"#DSEGTempcF\").text(\"C\");\n                        $(\"#DSEGTempcB\").text(\"8\");                    \n                        if (typeof(msg.payload) != \"undefined\") { $(\"#DSEGTempF\").text(msg.payload); $(\"#DSEGTempB\").text(\"88\"); }\n                    }\n                else\n                    {\n                        $(\"#DSEGTempF\").text(\" \");\n                        $(\"#DSEGTempcF\").text(\" \");\n                        $(\"#DSEGTempB\").text(\" \");\n                        $(\"#DSEGTempcB\").text(\" \");\n                        $(\"#DSEGWEATHER-BACK\").text(\"0\");\n                        if (typeof(msg.payload) != \"undefined\") { $(\"#DSEGWEATHER-ICON\").text(msg.topic); $(\"#DSEGTempF\").text(msg.payload); $(\"#DSEGTempB\").text(\"88\"); }\n                        \n                    }\n               if (typeof(msg.colour) != \"undefined\") {\n                              $(\".Clock-Wrapper\").css('background-color', colours[msg.colour].items[1]);  $(\".lcdClock\").css('color', colours[msg.colour].items[0]); \n                              if (colours[msg.colour].items[1]==\"#000000\") $(\".background\").css('color',\"rgba(255,255,255,0.15)\"); else  $(\".background\").css('color',\"rgba(0,0,0,0.1)\");\n                        }\n            });\n    })(scope);\n\n    function genTimerStrings(tm, num){\n    \n    \tvar i;\n    \tvar ret = tm.toString(10);\n    \tvar left = ret.length;\n    \n    \tif( left < num){\n    \t\tfor(i=0; i<( num - left ); i++ ){\n    \t\t\tret = String(0) + ret;\n    \t\t}\n    \t}\n    \treturn ret;\n    }\n\n    function updateTimer(){\n    \tvar ret;\n    \tvar date = new Date();\n    \tvar tm_year, tm_mon, tm_date, tm_hour, tm_min, tm_sec, tm_msec,tm_day;\n    \tvar colon;\n    \ttm_year = date.getFullYear();\n    \ttm_mon = date.getMonth()+1;\n    \ttm_date = date.getDate();\n    \ttm_day = date.getDay();\n    \ttm_hour = date.getHours();\n    \ttm_min = date.getMinutes();\n    \ttm_sec = date.getSeconds();\n    \ttm_msec = date.getMilliseconds();\n    \n    \ttm_mon = genTimerStrings(tm_mon, 2);\n    \ttm_date = genTimerStrings(tm_date, 2);\n    \ttm_hour = genTimerStrings(tm_hour, 2);\n    \ttm_min = genTimerStrings(tm_min, 2);\n    \ttm_sec = genTimerStrings(tm_sec, 2);\n    \ttm_day = daylist[tm_day];\n    \n    \tif( tm_msec > 499 ){\n    \t\tcolon = ' ';\n    \t}else{\n    \t\tcolon = ':';\n    \t}\n    \n    \tdocument.getElementById(\"DSEGClock\").innerHTML = tm_hour + colon + tm_min + \"<span style=\\\"font-size:30px;\\\">\"  + tm_sec + \"</span>\";\n    \tdocument.getElementById(\"DSEGClock-Year\").innerHTML = \"<span class=\\\"D7MI\\\">\" + tm_year + \"-\" + tm_mon + \"-\" + tm_date + ' ' + \"</span><span class=\\\"D14MI\\\">\" + tm_day  +  \".\" + \"</span>\";\n    \n    \tsetTimeout(\"updateTimer()\", 500 - date.getMilliseconds()%500 );\n    }\n\n    updateTimer();\n    \n</script>\n\n<style type=\"text/css\">\n    .lcdClock {\n        background-color:#fbfbfb;\n        font-size:100%;\n        padding-left:10px;\n        padding-right:10px;\n        padding-bottom:10px;\n        max-width:300px;\n        line-height:160%;\n        color:#222;\n        font-family:Meiryo, 'Lucida Grande','Hiragino Kaku Gothic ProN', sans-serif;\n    }\n    @font-face {\n      font-family: \"D7MI\";\n      src: url(\"/myfonts/DSEG7Modern-Italic.woff\") format('woff');\n    }\n    \n    @font-face {\n      font-family: \"D14MI\";\n      src: url(\"/myfonts/DSEG14Modern-Italic.woff\") format('woff');\n    }\n    \n    @font-face {\n      font-family: \"D7MBI\";\n      src: url(\"/myfonts/DSEG7Modern-BoldItalic.woff\") format('woff');\n    }\n    \n    @font-face {\n      font-family: \"DWEATHER\";\n      src: url(\"/myfonts/DSEGWeather.woff\") format('woff');\n    }\n    \n    .Weather-Background{\n        z-index:50;\n        position:absolute;\n        top:24px;\n        left:240px;\n        font-size:68px;\n    }\n    \n    .Weather-Front{\n        z-index:51;\n        position:absolute;\n        top:24px;\n        left:240px;\n        font-size:68px;\n    }\n    \n    .D7MI {\n    font-family: \"D7MI\";\n    }\n    \n    .D7MBI {\n    font-family: \"D7MBI\";\n    }\n    \n    .D14MI {\n    font-family: \"D14MI\";\n    }\n    \n    .DWEATHER {\n    font-family: \"DWEATHER\";\n    position:absolute;\n    top:2px;\n    left:260px; \n    font-size:30px;\n    }\n    \n    .Clock-Wrapper{\n        position:relative;\n        border:6px solid #000;\n        border-radius:9px;\n        height:68px;\n        width:280px;\n        background-color:#fb7c00;\n        background-color:#66ac66;\n        box-shadow: 4px 4px 28px 0px rgba(0,0,0,0.3) inset; \n    }\n    \n    .Clock-Time-Background{\n        z-index:50;\n    }\n    \n    .Clock-Time-Front{\n        z-index:51;\n    }\n    \n    .Clock-Time-Background,.Clock-Time-Front {\n        position:absolute;\n        top:38px;\n        left:5px; \n        font-size:42px;\n    }\n    \n    .background { color:rgba(0,0,0,0.1); }\n    \n    .Clock-Year-Background{\n        z-index:50;\n        font-size:18px;\n    }\n    \n    .Clock-Year-Front{\n        z-index:51;\n    }\n    \n    .Clock-Year-Background,.Clock-Year-Front {\n        position:absolute;\n        top:2px;\n        left:5px; \n        font-size:18px;\n    }\n    \n    .temp { z-index:51; }\n    .tempBack { z-index:50; color:rgba(0,0,0,0.1); }\n    .temp,.tempBack {\n        position:absolute;\n        top:30px;\n        left:225px; \n        font-size:30px;\n    }\n    \n    .tempc { z-index:51; }\n    .tempcBack { z-index:50;  }\n    .tempc,.tempcBack {\n        position:absolute;\n        top:38px;\n        left:225px; \n        font-size:24px;\n    }\n    \n    #DSEG7_OUTPUT{\n        font-family: \"D7MI\";\n    }\n    \n    #DSEG14_OUTPUT{\n        font-family: \"D14MI\";\n    }\n    \n    #DSEG14_OUTPUT, #DSEG7_OUTPUT{\n        font-size:18px;\n        margin-top:2px;\n        margin-bottom:10px;\n    }\n    \n    </style>\n    \n<div class=\"Clock-Wrapper center lcdClock\">\n\t<span class=\"Clock-Time-Background background  D7MBI\">88:88<span style=\"font-size:30px;\">88</span></span>\n\t<span id=\"DSEGClock\" class=\"Clock-Time-Front D7MBI\"></span>\n\t<span class=\"Clock-Year-Background background\"><span class=\"D7MI\">2088-88-88</span><span class=\"D14MI\"> ~~~</span></span>\n\t<span id=\"DSEGClock-Year\" class=\"Clock-Year-Front\"></span>\n\t\n\t<span id=\"DSEGTempF\" class=\"temp D7MBI\">00</span>\n    <span id=\"DSEGTempB\" class=\"tempBack background D7MBI\">88</span>\t\n\t<span id=\"DSEGTempcF\" class=\"tempc D7MI\">C</span>\n    <span id=\"DSEGTempcB\" class=\"tempcBack background D7MI\">8</span>\n\t\n\t<span id=\"DSEGWEATHER-BACK\" class=\"Weather-Background background DWEATHER\"></span>\n\t<span id=\"DSEGWEATHER-ICON\" class=\"Weather-Front DWEATHER\"></span>\n\t\t\t\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":200,"wires":[[]]},{"id":"54a99322.75a3bc","type":"inject","z":"2c510c19.115f44","name":"green","topic":"","payload":"blackOnGreen","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":360,"wires":[["e02db645.381248"]]},{"id":"96086418.292d58","type":"inject","z":"2c510c19.115f44","name":"orange","topic":"","payload":"blackOnOrange","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":400,"wires":[["e02db645.381248"]]},{"id":"e02db645.381248","type":"function","z":"2c510c19.115f44","name":"color","func":"msg.colour=msg.payload;\nmsg.payload=undefined;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["c97e232e.5d66a"]]},{"id":"d51dfb46.9b0678","type":"inject","z":"2c510c19.115f44","name":"blue","topic":"","payload":"blackOnBlue","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":440,"wires":[["e02db645.381248"]]},{"id":"8acaf180.6a82b","type":"inject","z":"2c510c19.115f44","name":"yellow","topic":"","payload":"blackOnYellow","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":480,"wires":[["e02db645.381248"]]},{"id":"d333f319.f679e","type":"inject","z":"2c510c19.115f44","name":"white","topic":"","payload":"blackOnWhite","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":520,"wires":[["e02db645.381248"]]},{"id":"eff1cb6c.21d9b8","type":"inject","z":"2c510c19.115f44","name":"pink","topic":"","payload":"blackOnPink","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":560,"wires":[["e02db645.381248"]]},{"id":"eef5e7a4.808d28","type":"inject","z":"2c510c19.115f44","name":"red and light text","topic":"","payload":"yellowOnRed","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":600,"wires":[["e02db645.381248"]]},{"id":"5d9e68b9.d6eb28","type":"inject","z":"2c510c19.115f44","name":"cyan and white","topic":"","payload":"whiteOnCyan","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":640,"wires":[["e02db645.381248"]]},{"id":"3c36311f.7f990e","type":"inject","z":"2c510c19.115f44","name":"lime on black","topic":"","payload":"limeOnBlack","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":325,"wires":[["e02db645.381248"]]},{"id":"a1708ee3.0b19","type":"function","z":"2c510c19.115f44","name":"iconinLCD","func":"let a = msg.payload.weather;\nswitch (a) {\n    case 'Clear': \n      msg.topic = 1;\n      break;\n      case 'Drizzle': \n      msg.topic = 3;\n      break;\n      case 'Clouds': \n      msg.topic = 2;\n      break;\n      case 'Rain': \n      msg.topic = 4;\n      break;\n      case 'Snow': \n      msg.topic = 5;\n      break;\n      case 'Thunderstorm': \n      msg.topic = 6;\n      break;\n      case 'Mist': \n      msg.topic = \":\";\n      break;\n      default:\n      msg.topic = 0;\n      break;\n      }\nmsg.payload = msg.payload.temp_minc + \"°C\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["c97e232e.5d66a"]]},{"id":"85a5742f.d3bfe8","type":"openweathermap in","z":"2c510c19.115f44","name":"Lithopia weather","wtype":"current","lon":"","lat":"","city":"Milan","country":"Italy","language":"en","x":120,"y":160,"wires":[["a1708ee3.0b19","2a1d79dd.59ea06","7901605c.cfbb8"]]},{"id":"7a780829.0c7a18","type":"comment","z":"b36b79fb.681da8","name":"Smart contracts in Lithopia","info":"","x":470,"y":340,"wires":[]},{"id":"801e7516.ca1878","type":"comment","z":"b36b79fb.681da8","name":"Satellite info for Lithopians","info":"","x":450,"y":60,"wires":[]},{"id":"de2c7b01.15f678","type":"comment","z":"b0c47343.b841f","name":"Twitter sentiments on Lithium","info":"","x":400,"y":40,"wires":[]},{"id":"9f5a6ca5.d81de","type":"comment","z":"b0c47343.b841f","name":"Crypto-exchanges for Lithopians","info":"","x":370,"y":380,"wires":[]},{"id":"252bed1b.4b47c2","type":"http request","z":"f61baa36.7abee8","name":"getlithopians","method":"GET","ret":"obj","url":"http://anonette.net:3000/api/Lithopian","tls":"","x":170,"y":180,"wires":[["8a46547.82389a8"]]},{"id":"8a46547.82389a8","type":"change","z":"f61baa36.7abee8","name":"Present Lithopians:","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":240,"wires":[["436d65aa.03f59c"]]},{"id":"b9f46329.3e07","type":"http request","z":"f61baa36.7abee8","name":"getmarriages","method":"GET","ret":"obj","url":"http://anonette.net:3000/api/LithopiaMarriage","tls":"","x":770,"y":180,"wires":[["b4cf3631.0bfa98"]]},{"id":"6a673bb7.046374","type":"ui_button","z":"f61baa36.7abee8","name":"","group":"55f8ba0a.7fcd54","order":3,"width":"0","height":"0","passthru":false,"label":"Lithopians","color":"white","bgcolor":"black","icon":"fa-address-book","payload":"true","payloadType":"bool","topic":"","x":170,"y":140,"wires":[["252bed1b.4b47c2"]]},{"id":"ae79db3.de72528","type":"ui_button","z":"f61baa36.7abee8","name":"","group":"55f8ba0a.7fcd54","order":5,"width":"0","height":"0","passthru":false,"label":"Properties in Lithopia","color":"white","bgcolor":"black","icon":"home","payload":"true","payloadType":"bool","topic":"","x":440,"y":140,"wires":[["86a63dcc.c6b0d"]]},{"id":"86a63dcc.c6b0d","type":"http request","z":"f61baa36.7abee8","name":"getproperty","method":"GET","ret":"obj","url":"http://anonette.net:3000/api/LithopiaPlace","tls":"","x":430,"y":180,"wires":[["2a09394d.67b526"]]},{"id":"2a09394d.67b526","type":"change","z":"f61baa36.7abee8","name":"Lithopians Property:","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.(name & ' owned by ' & owner)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["f92ef6dc.42fe78"]]},{"id":"b4cf3631.0bfa98","type":"change","z":"f61baa36.7abee8","name":"transform into a sentence","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.(name & ' for ' & period & ' period.' & ' ')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":220,"wires":[["26332d39.bb9372"]]},{"id":"439351bb.668fc","type":"ui_button","z":"f61baa36.7abee8","name":"","group":"55f8ba0a.7fcd54","order":7,"width":"0","height":"0","passthru":false,"label":"Marriages & partnerships","color":"white","bgcolor":"black","icon":"favorite","payload":"true","payloadType":"bool","topic":"","x":750,"y":140,"wires":[["b9f46329.3e07"]]},{"id":"d45dce46.2f471","type":"comment","z":"f61baa36.7abee8","name":"Hyperledger Composer REST-API queries","info":"","x":460,"y":80,"wires":[]},{"id":"436d65aa.03f59c","type":"ui_template","z":"f61baa36.7abee8","group":"55f8ba0a.7fcd54","name":"Show Lithopians","order":4,"width":"8","height":"3","format":"<table id=\"table\" border=\"0\">\n <tbody>\n    <tr ng-repeat=\"row in msg.payload\">\n        <td>{{row}}</td>\n    </tr>\n </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":200,"y":300,"wires":[[]]},{"id":"f92ef6dc.42fe78","type":"ui_template","z":"f61baa36.7abee8","group":"55f8ba0a.7fcd54","name":"Show Lithopian property","order":6,"width":"8","height":"3","format":"<table id=\"table\" border=\"0\">\n <tbody>\n    <tr ng-repeat=\"row in msg.payload\">\n        <td>{{row}}</td>\n    </tr>\n </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":510,"y":280,"wires":[[]]},{"id":"26332d39.bb9372","type":"ui_template","z":"f61baa36.7abee8","group":"55f8ba0a.7fcd54","name":"Show Marriages","order":8,"width":"8","height":"3","format":"<table id=\"table\" border=\"0\">\n <tbody>\n    <tr ng-repeat=\"row in msg.payload\">\n        <td>{{row}}</td>\n    </tr>\n </tbody>\n</table>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":800,"y":280,"wires":[[]]},{"id":"460d0850.d6ea88","type":"ui_template","z":"f61baa36.7abee8","group":"55f8ba0a.7fcd54","name":"Make an icon","order":1,"width":"8","height":"5","format":"<div ng-bind-html=\"msg.payload\"  style=\"overflow-y: hidden\" layout=\"row\" layout-align=\"center center\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":430,"y":520,"wires":[[]]},{"id":"2c130f8d.93801","type":"function","z":"f61baa36.7abee8","name":"make an icon","func":"var iconcode = msg.payload.icon;\nvar iconurl = \"http://drive.google.com/uc?export=view&id=1NKKnFfGjkHT1l1EUmjqwvfonTodV469x\";\nmsg.payload = \"<img src=\" + iconurl + \">\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":520,"wires":[["460d0850.d6ea88"]]},{"id":"2702487c.b54d98","type":"inject","z":"f61baa36.7abee8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":520,"wires":[["2c130f8d.93801"]]},{"id":"97b59074.32c89","type":"ui_text","z":"f61baa36.7abee8","group":"55f8ba0a.7fcd54","order":2,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":250,"y":580,"wires":[]},{"id":"52369959.0e0e08","type":"inject","z":"f61baa36.7abee8","name":"","topic":"","payload":"Who is in Lithopia, what they own, and what partnerships they offer? Click to update info!","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":580,"wires":[["97b59074.32c89"]]},{"id":"abe6b3c.0727d5","type":"ui_template","z":"2c510c19.115f44","group":"695e648e.ad075c","name":"Make an icon","order":4,"width":"8","height":"4","format":"<div ng-bind-html=\"msg.payload\"  style=\"overflow-y: hidden\" layout=\"row\" layout-align=\"center center\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":550,"y":700,"wires":[[]]},{"id":"3b06a959.3a1fd6","type":"function","z":"2c510c19.115f44","name":"make an icon","func":"var iconcode = msg.payload.icon;\nvar iconurl = \"http://drive.google.com/uc?export=view&id=1FuqTkKhd25Ceco1Y1JYDV7-GzTKSOAba\";\nmsg.payload = \"<img src=\" + iconurl + \">\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":700,"wires":[["abe6b3c.0727d5"]]},{"id":"f68b038e.71277","type":"inject","z":"2c510c19.115f44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":700,"wires":[["3b06a959.3a1fd6"]]},{"id":"e46cfbc8.25dfc8","type":"comment","z":"2c510c19.115f44","name":"Lithopia icon","info":"","x":530,"y":640,"wires":[]},{"id":"5ae1f247.08c9ac","type":"comment","z":"f61baa36.7abee8","name":"Who is who explanation & icon","info":"","x":210,"y":460,"wires":[]},{"id":"a9646ebf.efbce","type":"ui_template","z":"2c510c19.115f44","group":"695e648e.ad075c","name":"","order":0,"width":"8","height":"12","format":"<h2>Lithopia manual</h2>\n<p><b>Become a Lithopian</b><br/></p>\n<ol><li>Pick up a name &amp; register it on the (Hyper)ledger Fabric blockchain REST API over the dashboard.</li></ol>\n<p><b>Buying &amp; selling property</b><br/></p>\n<ol><li>List your property over the dashboard.</li>\n\t<li>Predict the position of the Sentinel 2A satellite over your location via Lithopia scanner at http://anonette.net:8000/summary/.</li>\n\t<li>Get a 10 x 10 m red fabric, which represents our flag visible as one pixel for the satellite to trigger the blockchain contract.</li>\n\t<li>Cover your property with the flag during Sentinel 2A passing and wait for 30 min.</li><li>The new owner will be updated on the ledger and broadcasted as an event over Lithopia Twitter.</li></ol>\n\t<p><b>Marry &amp; partner</b></p>\n\t<ol><li>List a type of partnership you offer over the dashboard.</li><li>Find the interested party (parties) and call a public drone operated by our &#34;vow master&#34;.</li><li>Perform a special hug and gesture you see on the video below the drone.</li>\n\t\t<li>You are officially married and partnered on the Hyperledger Fabric and it is broadcasted as an event over Lithopia Twitter.</li>\n\t</ol><p><b>Satellite Lithoscopes</b></p>\n\t\t<ol><li>If you are planning an important business or project, you can consult our Lithostrologers that use the positions of various important satellites on the ecliptic to read the geopolitical situation and to help you with your decision making.</span><br/></li><li>Pick up a theme, industry, issue and clearly define your question.</li><li>Special attention is given to Hubble Space Telescope (general prospects of humanity), Galaxy 14 (decisions related to media), GOES-12 and Sentinel (agriculture), KH-13 (security and intelligence), GPS IIR11 (wars, conflicts), International Space Station (diplomacy), ChinaSat (relations to China), TanSat (climate change), Cosmos 2519 (relations to Russia) etc.<br/><br/>Send your ideas for future Lithopia services to LITHOPIA2019@GMAIL.COM</li></ol>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":520,"y":460,"wires":[[]]},{"id":"9308ba0b.4e0d28","type":"comment","z":"2c510c19.115f44","name":"Lithopia manual","info":"","x":540,"y":360,"wires":[]},{"id":"43f115d6.fe425c","type":"ui_template","z":"b36b79fb.681da8","group":"60e96444.be8e4c","name":"","order":0,"width":"8","height":"7","format":"<h2>Lithopia first inhabitants</h2>\n<p>concept: Denisa Kera and Petr Šourek</p> \n<p>director: Petr Šourek</p> \n<p>designer: Eva Holá</p> \n<p>photography: Jan Hrdý</p>  \n<p>installation and 3D print: Virtuoso by Swetja</p> \n<p>blockchain and Node RED: Denisa Kera and Yair Reshef</p> \n<p>satellite image processing: Mateusz Kraiński</p> \n<p>actors: Milan Holman, Michal Krásl, Ivan Zelenka, Libor Ščerba, Dan Dittrich, Eva Čechová, Dan Šváb, Barbara Humel, Justin Svoboda, Radim Klásek, Vojtěch Bárta, Roman Trochta, Zdeněk Žatečka, Olga Vincencová, Alice Šourková, Ivana Runštuková, Marie Johnson, Petra Brodská.\n</p>\n\t","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":353.0173645019531,"y":606.0104370117188,"wires":[[]]},{"id":"da1a5324.00899","type":"comment","z":"b36b79fb.681da8","name":"credits","info":"","x":410,"y":560,"wires":[]}]